Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

forgot on old interface for PlayerRoomInfo
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed the filter of game mode since not relevant anymore
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

debugged the exiting of waiting room
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

debugged the filtering done while removing a player from a room
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

prevented undefined error on database queries
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

updated the logic of the image updates for easier handling on the client side
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

added an http query to update the image of a user
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

updated the user service to be able to update the profile pic
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

modified the settings page with new fields for username changing and complete working profile picture update
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/settings-page/settings-page.component.scss
  desktop/src/app/pages/settings-page/settings-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Connect to rooms on list screen
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/room-selection-screen.dart
Due: none

added darkmode button to footer
  desktop/src/app/components/footer/footer.component.html
  desktop/src/app/components/footer/footer.component.scss
  desktop/src/app/components/footer/footer.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor css adjustment
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

user-creation page works with darkmode
  desktop/src/app/pages/user-creation-page/user-creation-page.component.html
  desktop/src/app/pages/user-creation-page/user-creation-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed dead code
  desktop/src/app/pages/connection-page/connection-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added the new difficulty option in the common enum
  common/models/game-difficulty.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
  mobile/assets/flutter_i18n/en.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added logic to receive rooms
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/room-selection-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

added password field and trigger for it on game creation page
  desktop/src/app/modules/material.module.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

themes work for settings page
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/settings-page/settings-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor css change for footer
  desktop/src/app/components/footer/footer.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed justified class from files
  desktop/src/app/components/admin-dictionaries/admin-dictionaries.component.scss
  desktop/src/app/components/admin-virtual-players/admin-virtual-players.component.scss
  desktop/src/app/pages/connection-page/connection-page.component.scss
  desktop/src/app/pages/game-page/game-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.scss
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.scss
  desktop/src/app/pages/settings-page/settings-page.component.scss
  desktop/src/app/pages/user-creation-page/user-creation-page.component.scss
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.scss
  desktop/src/styles.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

adjusted layout for admin page with themes
  desktop/src/app/pages/admin-page/admin-page.component.html
  desktop/src/app/pages/admin-page/admin-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

renamed class to avoid confusion
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/components/player-rack/player-rack.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed redundant encapsulating div files
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/settings-page/settings-page.component.scss
  desktop/src/app/pages/user-creation-page/user-creation-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Made the required password depend on the checkbox
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

start of score service
  server/app/services/client-utilities/player-score.service.ts
Due: install:server, lint:server, build:server, test:server

start 2
  server/app/services/client-utilities/player-score.service.ts
Due: install:server, lint:server, build:server, test:server

Adapted service and model to transform data into the correct model
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/room-selection-screen.dart
Due: none

removed the dependance to the http method to detect the available rooms
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/app.ts
  server/app/controllers/game-room.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

rack letters fixed
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/components/player-rack/player-rack.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

scores button fixed with theme
  desktop/src/app/pages/main-page/main-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor css changes
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added header to game configuration page
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added logic for joining rooms
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/room-selection-screen.dart
Due: none

Added cookie on socket connection
  mobile/lib/domain/services/auth-service.dart
Due: none

Added socket mapping and token verification-server
  server/app/services/socket/socket-manager.service.ts
Due: install:server, lint:server, build:server, test:server

Implemented auth on client
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/main.dart
  mobile/lib/screens/login-screen.dart
Due: none

Added disconnect + translated everything
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/login-widget.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Added players info + Turn progress
  mobile/lib/components/board-widget.dart
  mobile/lib/components/game-info-widget.dart
  mobile/lib/domain/models/player-models.dart
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/game-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

added tones to themes
  desktop/src/styles.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

hid buttons for demo
  desktop/src/app/components/header/header.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop
