Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

Added game-screen
  mobile/lib/screens/game-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

Added game creation implementation after submitting form
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/room-selection-screen.dart
Due: none

Added end-game-screen
  mobile/lib/screens/end-game-screen.dart
  mobile/lib/screens/game-screen.dart
Due: none

Authentification routes and session validation
  server/app/app.ts
  server/app/controllers/authentification.controller.ts
  server/app/interfaces/user.ts
  server/app/middlewares/token-verification-middleware.ts
  server/app/services/database/account-storage.service.ts
  server/app/services/database/database.service.ts
  server/package-lock.json
  server/package.json
  server/very-secret-file.ts
Due: install:server, lint:server, build:server, test:server

Created primitive Login Widget
  mobile/lib/components/login-widget.dart
  mobile/lib/components/register-widget.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

Added flutter_i18n and translated the menu screen
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/main.dart
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

resolved bugs, removed bad theme files
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/themes/classic-dark.scss
  desktop/src/themes/classic-light.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added a floating settings button that contains the themes
  mobile/lib/components/settings-widget.dart
  mobile/lib/screens/menu-screen.dart
Due: none

added custom theme files to assets
  desktop/angular.json
  desktop/src/assets/css/colors.module.css
  desktop/src/assets/css/theme.css
  desktop/src/assets/css/theme.dark.css
  desktop/src/assets/css/theme.light.css
  desktop/src/assets/css/tokens.css
  desktop/src/assets/css/typography.module.css
Due: install:desktop, lint:desktop, build:desktop, test:desktop

deleted custom theme because it is not compatible with our version of angular material
  desktop/angular.json
  desktop/src/assets/css/colors.module.css
  desktop/src/assets/css/theme.css
  desktop/src/assets/css/theme.dark.css
  desktop/src/assets/css/theme.light.css
  desktop/src/assets/css/tokens.css
  desktop/src/assets/css/typography.module.css
  desktop/src/index.html
  desktop/src/styles.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added toggle for dark mode in header component
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.scss
  desktop/src/app/components/header/header.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

trying new strategy for dark mode
  desktop/angular.json
  desktop/src/app/pages/app/app.component.html
  desktop/src/index.html
  desktop/src/styles.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed dead code
  desktop/src/app/app.component.ts
  desktop/src/app/components/admin-dictionaries/admin-dictionaries.component.spec.ts
  desktop/src/app/components/footer/footer.component.scss
  desktop/src/app/components/header/header.component.scss
  desktop/src/app/components/header/header.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

refactored updatePlayerInfos form game-handler
  server/app/services/database/history-storage.service.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Translated sign in and login form
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/screens/login-screen.dart
  mobile/lib/screens/signin-screen.dart
Due: none

added base for user account page
  desktop/src/app/app.module.ts
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/user-account/user-account.component.html
  desktop/src/app/pages/user-account/user-account.component.scss
  desktop/src/app/pages/user-account/user-account.component.spec.ts
  desktop/src/app/pages/user-account/user-account.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

refactored game-state
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Done translating all the screen
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/end-game-screen.dart
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/room-selection-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

Integrated translation setting to the new setting menu + Minor changes to update the interface more easily
  mobile/.run/Mobile.run.xml
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/language-dropdown-widget.dart
  mobile/lib/components/settings-widget.dart
  mobile/lib/components/theme-dropdown-widget.dart
  mobile/lib/domain/enums/themes.dart
  mobile/lib/domain/services/language-service.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Missing label in en.json
  mobile/assets/flutter_i18n/en.json
Due: none

dark mode working
  desktop/src/app/app.component.ts
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/pages/app/app.component.html
  desktop/src/app/pages/app/app.component.ts
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/theme.service.ts
  desktop/src/index.html
  desktop/src/styles.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added translation documentation for mobile
  mobile/doc/translation-system.md
Due: none

Added board and easel models + basic game service
  mobile/lib/domain/models/board-models.dart
  mobile/lib/domain/models/easel-model.dart
  mobile/lib/domain/services/game-service.dart
Due: none

Quick fix: imported an old flutter_i18n version
  mobile/lib/components/language-dropdown-widget.dart
  mobile/lib/components/settings-widget.dart
  mobile/lib/main.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

server game logic can now handle 4 players
  server/app/classes/game.class.ts
  server/app/classes/turn.class.ts
  server/app/constants/players.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Fix bug with theme refreshing the whole app
  mobile/lib/components/language-dropdown-widget.dart
  mobile/lib/domain/services/language-service.dart
  mobile/lib/main.dart
Due: none

Added easel with draggable letters
  mobile/lib/components/easel-widget.dart
  mobile/lib/components/letter-widget.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/main.dart
  mobile/lib/screens/game-screen.dart
Due: none

handled deprecated features usage
  desktop/src/app/components/admin-game-history/admin-game-history.component.ts
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/services/high-scores.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

lint fix
  desktop/src/app/components/admin-game-history/admin-game-history.component.ts
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/services/high-scores.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fix linting configs
  .eslintrc.json
  .prettierrc.yaml
Due: none

more config shenanigans
  .prettierignore
  .prettierrc.yaml
Due: none

temporary/moved the language controls to the header for easier testing while translating
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

traduction of the all the admin page
  common/models/file-status.ts
  desktop/src/app/components/admin-dictionaries/admin-dictionaries.component.html
  desktop/src/app/components/admin-game-history/admin-game-history.component.html
  desktop/src/app/components/admin-high-scores/admin-high-scores.component.html
  desktop/src/app/components/admin-virtual-players/admin-virtual-players.component.html
  desktop/src/app/components/high-scores/high-scores.component.html
  desktop/src/app/components/import-dictionary/import-dictionary.component.html
  desktop/src/app/components/import-dictionary/import-dictionary.component.ts
  desktop/src/app/pages/admin-page/admin-page.component.html
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

translation of the play menu
  desktop/src/app/components/dialog-box-game-type/dialog-box-game-type.component.html
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

translation of the game creation page
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

renamed translation selectors for pages
  desktop/src/app/components/admin-dictionaries/admin-dictionaries.component.html
  desktop/src/app/components/dialog-box-game-type/dialog-box-game-type.component.html
  desktop/src/app/pages/admin-page/admin-page.component.html
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added the board widget
  mobile/.run/Mobile.run.xml
  mobile/lib/components/board-widget.dart
  mobile/lib/domain/enums/themes.dart
  mobile/lib/domain/models/board-models.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/screens/game-screen.dart
Due: none

translation of the join game page and corrections on the create game language interface
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added a getter and a default value to debug the header lang choice
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/services/language.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

more translation of the header
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop
