Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

adjusted information panel to fit themes
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

deleted dead code
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/player-rack/player-rack.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added-header to game page
  desktop/src/app/pages/game-page/game-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added game info and buttons for place word and skip turn
  mobile/lib/components/game-info-widget.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/game-screen.dart
Due: none

Added abandon confirmation
  mobile/lib/components/game-info-widget.dart
  mobile/lib/screens/game-screen.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

adaptation et clarification d'interfaces et centralisation de certaines données
  common/interfaces/game-parameters.ts
  common/interfaces/join-game-room-parameters.ts
  common/models/game-visibility.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/interfaces/game-parameters.ts
  server/app/interfaces/game-room.ts
  server/app/services/client-utilities/game-sessions.service.spec.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

débuggage du header
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.scss
  desktop/src/app/services/theme.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

lint
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/services/theme.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

remvoed unused refresh button
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

that damn footer
  desktop/src/app/pages/settings-page/settings-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added Todos and removed unnecessary print
  desktop/src-tauri/src/main.rs
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

game creation page css adjusted
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

multiplayer join page dark mode adjusted
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added temporary logic to let the client place letter and get some points.
  mobile/lib/components/game-info-widget.dart
  mobile/lib/components/letter-widget.dart
  mobile/lib/domain/models/game-command-models.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

altered UI of game creation page and cleaned css
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

first version of score service done
  server/app/services/client-utilities/player-score.service.ts
Due: install:server, lint:server, build:server, test:server

reduce roomid length to 6
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

no magic number
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

reduce room id to 6 char
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

beautified the password field and added the visiblity selector
  desktop/src/app/constants/user.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.scss
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

add icons to know what players are connected
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.scss
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added models for rooms, user and images + adapted receiving rooms
  mobile/lib/domain/models/iuser-model.dart
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/models/userimageinfo-model.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

corrections on the ui of the multiplayer connection and creation page
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.scss
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.scss
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

made a new interface for a player in a room
  common/interfaces/player-room-info.ts
  common/interfaces/room-player.ts
  common/models/player-type.ts
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Implemented leaving rooms
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/models/joingameparams-model.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

Fixed bug
  mobile/lib/domain/services/room-service.dart
Due: none

Interface for listing done
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/room-selection-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

lint
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added a password dialog and logo on join button for locked room
  common/interfaces/game-room.ts
  common/models/game-visibility.ts
  desktop/src/app/app.module.ts
  desktop/src/app/components/dialog-box-password/dialog-box-password.component.html
  desktop/src/app/components/dialog-box-password/dialog-box-password.component.scss
  desktop/src/app/components/dialog-box-password/dialog-box-password.component.spec.ts
  desktop/src/app/components/dialog-box-password/dialog-box-password.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.scss
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.spec.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

lint
  desktop/src/app/components/dialog-box-password/dialog-box-password.component.html
  desktop/src/app/components/dialog-box-password/dialog-box-password.component.spec.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

moar lint
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added recaptcha on signup
  mobile/android/app/build.gradle
  mobile/lib/components/recaptcha-widget.dart
  mobile/lib/screens/signup-screen.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

Added captcha html on server to GET
  server/app/controllers/authentification.controller.ts
  server/assets/webpages/captcha.html
Due: install:server, lint:server, build:server, test:server

Fixed server html
  server/app/controllers/authentification.controller.ts
  server/assets/webpages/captcha.html
Due: install:server, lint:server, build:server, test:server

Added recaptcha widget
  mobile/lib/components/recaptcha-widget.dart
Due: none

Added recaptcha widget before sign up
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/lib/screens/signup-screen.dart
Due: none

Translate
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/screens/signup-screen.dart
Due: none

documented a method and removed all "this" in parameters
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

removed unused socket method
  common/constants/socket-events.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

made the socket types available in the server files and started simplifying the logic
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/socket/socket-manager.service.ts
  server/app/types/sockets.ts
  server/tsconfig.json
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server
