Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

install:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    - desktop/.npm/
    policy: pull-push
  stage: install
  script:
  - cd desktop
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:desktop
  allow_failure: true
  script:
  - cd desktop
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

build:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: build
  needs:
  - install:desktop
  script:
  - cd desktop
  - npm run build
  artifacts:
    paths:
    - desktop/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

test:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: test
  needs:
  - install:desktop
  image: registry.gitlab.com/nikolayradoev/docker-images/chrome-mongo-node:20223
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd desktop
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  artifacts:
    paths:
    - server/coverage/

fixed redirection from main page
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed bad html option
  desktop/src/app/pages/main-page/main-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

replaced routerLinks with ngZone navigate
  desktop/src/app/components/dialog-box-game-type/dialog-box-game-type.component.html
  desktop/src/app/components/dialog-box-game-type/dialog-box-game-type.component.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Finalized version of sync
  desktop/src/app/services/letter-placement.service.ts
  mobile/lib/domain/services/clue-service.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/domain/services/game-sync-service.dart
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed http methods with no return body
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

translate header
  desktop/src/app/components/header/header.component.html
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

+1
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

handle congigs req err
  desktop/src/app/pages/settings-page/settings-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

synced tauri configs
  desktop/src-tauri/tauri.conf.json
  desktop/tauri-live-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

then and snckbar translate
  desktop/src/app/pages/settings-page/settings-page.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added missing redirectHome method
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

update csp prod
  desktop/src-tauri/tauri.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

more translae
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fix game-screen interface and minor bugs
  mobile/lib/components/game-actions-widget.dart
  mobile/lib/domain/services/game-service.dart
Due: none

small tweak on the chat UI
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed the prod config style-src
  desktop/src-tauri/tauri.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

user profile page 100% done
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

services translate
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/letter-placement.service.ts
  desktop/src/app/services/user.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed stack overflow at end game
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

correct dict
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fix bot beginner and word solver algorithm
  server/app/classes/player/beginner-bot.class.ts
  server/app/classes/word-solver.class.ts
Due: install:server, lint:server, build:server, test:server

more translate
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/game-configuration.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Changed serverErrors to serverEvents
  mobile/lib/domain/enums/server-events-enum.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/domain/services/user-service.dart
  mobile/lib/screens/user-settings-screen.dart
Due: none

settings page ui
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/settings-page/settings-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

chat fixed
  desktop/src/app/pages/settings-page/settings-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

add password page
  desktop/src/app/app.module.ts
  desktop/src/app/pages/forgot-password-page/forgot-password-page.component.html
  desktop/src/app/pages/forgot-password-page/forgot-password-page.component.scss
  desktop/src/app/pages/forgot-password-page/forgot-password-page.component.spec.ts
  desktop/src/app/pages/forgot-password-page/forgot-password-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

settings page ui finished
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/settings-page/settings-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed chat to certain extant for observer
  mobile/lib/components/chat-widget.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/game-screen.dart
  server/app/services/client-utilities/chat-handler.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:server, lint:server, build:server, test:server

fix modify username bug
  desktop/src/app/pages/settings-page/settings-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Language updated for settings page
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor adjustment
  desktop/src/app/pages/settings-page/settings-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed todo
  desktop/src/app/components/admin-virtual-players/admin-virtual-players.component.scss
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

language for blank letter dialog
  desktop/src/app/components/dialog-box-letter-selector/dialog-box-letter-selector.component.html
  desktop/src/app/components/dialog-box-letter-selector/dialog-box-letter-selector.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added forgot password mobile
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/screens/forget-password-screen.dart
  mobile/lib/screens/login-screen.dart
Due: none

chat ui fixed
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/pages/settings-page/settings-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

language
  desktop/src/app/components/dialog-box-password/dialog-box-password.component.html
  desktop/src/app/components/dialog-box-password/dialog-box-password.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added chat check if is deletable
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

finished forgot password page desktop
  desktop/src/app/models/app-routes.ts
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/pages/connection-page/connection-page.component.html
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/pages/forgot-password-page/forgot-password-page.component.html
  desktop/src/app/pages/forgot-password-page/forgot-password-page.component.scss
  desktop/src/app/pages/forgot-password-page/forgot-password-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/snack-bar.service.ts
  server/app/controllers/user-profile.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Floating button changed to botton left
  mobile/lib/screens/game-screen.dart
Due: none

Added verification on game quit with back button mobile
  mobile/lib/screens/game-screen.dart
Due: none

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*
