Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

install:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    - desktop/.npm/
    policy: pull-push
  stage: install
  script:
  - cd desktop
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:desktop
  allow_failure: true
  script:
  - cd desktop
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

build:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: build
  needs:
  - install:desktop
  script:
  - cd desktop
  - npm run build
  artifacts:
    paths:
    - desktop/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

test:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: test
  needs:
  - install:desktop
  image: registry.gitlab.com/nikolayradoev/docker-images/chrome-mongo-node:20223
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd desktop
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  artifacts:
    paths:
    - server/coverage/

fix
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

language
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

language
  desktop/src/app/components/dialog-box-reconnection/dialog-box-reconnection.component.html
  desktop/src/app/components/dialog-box-reconnection/dialog-box-reconnection.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

language
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

language
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/pages/connection-page/connection-page.component.html
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

language
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/user-creation-page/user-creation-page.component.html
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

pie chart big fix
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

chat uI and start of second window
  common/constants/ui-events.ts
  desktop/src-tauri/src/main.rs
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

End game on mobile done
  common/interfaces/player-game-result.ts
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/domain/models/game-model.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/screens/end-game-screen.dart
  server/app/classes/player/player.class.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

chat window can now be opened and closed
  desktop/src-tauri/src/main.rs
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/models/rust-command.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/communication/client-socket.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed message overflow by wrapping date
  mobile/lib/components/chatroom-widget.dart
Due: none

End game page
  common/interfaces/game-history-info.ts
  desktop/src/app/app.module.ts
  desktop/src/app/models/app-routes.ts
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/pages/end-game-page/end-game-page.component.html
  desktop/src/app/pages/end-game-page/end-game-page.component.scss
  desktop/src/app/pages/end-game-page/end-game-page.component.spec.ts
  desktop/src/app/pages/end-game-page/end-game-page.component.ts
  desktop/src/app/services/game-client.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

fix end game page
  common/interfaces/game-history-info.ts
  desktop/src/app/pages/end-game-page/end-game-page.component.html
  desktop/src/app/pages/end-game-page/end-game-page.component.scss
  desktop/src/app/pages/end-game-page/end-game-page.component.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added return Home button
  desktop/src/app/pages/end-game-page/end-game-page.component.html
  desktop/src/app/pages/end-game-page/end-game-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Removed usseless stuff from logout
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
  server/app/controllers/authentification.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

back buttons
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/settings-page/settings-page.component.ts
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed not incrementing players in waiting room on observer replace
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Removed three bars to open drawer from pages
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/room-selection-screen.dart
  mobile/lib/screens/user-profile-screen.dart
  mobile/lib/screens/user-settings-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

clean and working chat on main page and in game page
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.scss
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
  desktop/src/app/pages/game-page/game-page.component.html
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/communication/client-socket.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Top ranking finished mobile
  common/interfaces/user-stats.ts
  mobile/lib/components/high-scores-widget.dart
  mobile/lib/domain/models/high-score-model.dart
  server/app/controllers/high-score.controller.ts
  server/app/controllers/user-profile.controller.ts
  server/app/services/database/user-stats-storage.service.ts
Due: install:server, lint:server, build:server, test:server

high score ui
  desktop/src/app/components/dialog-box-high-scores/dialog-box-high-scores.component.scss
  desktop/src/app/components/high-scores/high-scores.component.html
  desktop/src/app/pages/main-page/main-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed overflow on users in game
  mobile/lib/components/player-info-widget.dart
Due: none

Change abondon to exit to main menu
  mobile/lib/screens/end-game-screen.dart
Due: none

Actual => Change abondon to exit to main menu | Previous was adding chat to endGame screen
  mobile/lib/screens/game-screen.dart
Due: none

added chat in waiting romo
  desktop/src/app/components/header/header.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.scss
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

highscore done
  desktop/src/app/components/high-scores/high-scores.component.html
  desktop/src/app/components/high-scores/high-scores.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

almost final commit
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/pages/end-game-page/end-game-page.component.html
  desktop/src/app/pages/forgot-password-page/forgot-password-page.component.html
  desktop/src/app/pages/forgot-password-page/forgot-password-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

overflow fix
  desktop/src/app/components/information-panel/information-panel.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

bug html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

chatt html revert thx to yassser
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

move score below
  desktop/src/app/pages/main-page/main-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

chat on all screens
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.scss
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.scss
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/settings-page/settings-page.component.scss
  desktop/src/app/pages/settings-page/settings-page.component.ts
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.scss
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/theme.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

css
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

build fix
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added black colors + fixed error on mobile
  mobile/lib/components/board-widget.dart
  mobile/lib/components/game-actions-widget.dart
  mobile/lib/components/game-info-widget.dart
  mobile/lib/components/letter-widget.dart
  mobile/lib/components/player-info-widget.dart
  mobile/lib/components/reserve-widget.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/screens/game-screen.dart
Due: none

Added mode prod
  mobile/lib/main.dart
Due: none

fix config tauri prod
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/tauri.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Update README.md
  README.md
Due: none

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*
