Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

Added board zooming, changed the visuals and added modifiers label
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/board-widget.dart
  mobile/lib/components/letter-widget.dart
  mobile/lib/screens/game-screen.dart
Due: none

translation of the game creation page
  desktop/src/app/models/game-status.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

refactored languages choice
  desktop/src/app/components/dialog-box-game-type/dialog-box-game-type.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Modified themes service to be more appropriate for sync
  mobile/lib/components/theme-dropdown-widget.dart
  mobile/lib/domain/services/theme-service.dart
  mobile/pubspec.lock
Due: none

Moved dynamic and static to seperate switch
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/settings-widget.dart
  mobile/lib/domain/enums/themes.dart
  mobile/lib/domain/services/theme-service.dart
Due: none

translation of the game page
  desktop/src/app/components/chatbox/chatbox.component.html
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/pages/game-page/game-page.component.html
  desktop/src/app/services/game-client.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Implemented personalisation of modes
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/settings-widget.dart
  mobile/lib/components/theme-dropdown-widget.dart
  mobile/lib/components/theme-settings-widget.dart
  mobile/lib/domain/services/theme-service.dart
Due: none

translation of dictionary events and game difficulty enums
  common/models/dictionary-events.ts
  common/models/game-difficulty.ts
  desktop/src/app/components/admin-virtual-players/admin-virtual-players.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

traduction of socket events
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/dictionary.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

linting
  desktop/src/app/models/game-status.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/language.service.spec.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added drop letter on board
  mobile/lib/components/board-widget.dart
  mobile/lib/components/easel-widget.dart
  mobile/lib/components/letter-widget.dart
Due: none

Add letter removal at pick up
  mobile/lib/components/board-widget.dart
  mobile/lib/components/easel-widget.dart
  mobile/lib/components/language-dropdown-widget.dart
  mobile/lib/components/letter-widget.dart
  mobile/lib/components/theme-dropdown-widget.dart
  mobile/lib/domain/models/board-models.dart
  mobile/lib/domain/services/game-service.dart
Due: none

last traductions
  desktop/src/app/components/admin-game-history/admin-game-history.component.html
  desktop/src/app/components/dialog-box-abandon-game/dialog-box-abandon-game.component.html
  desktop/src/app/components/dialog-box-high-scores/dialog-box-high-scores.component.html
  desktop/src/app/components/dialog-box-modify-bot-names/dialog-box-modify-bot-names.component.html
  desktop/src/app/components/dialog-box-modify-dictionary/dialog-box-modify-dictionary.component.html
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added the captcha and clarified the other form fields
  desktop/package-lock.json
  desktop/package.json
  desktop/src/app/app.module.ts
  desktop/src/app/pages/user-account/user-account.component.html
  desktop/src/app/pages/user-account/user-account.component.scss
  desktop/src/app/pages/user-account/user-account.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

repaired the captcha on prod
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/main.rs
  desktop/src-tauri/tauri.conf.json
  desktop/src/app/pages/app/app.component.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/tauri-dev.conf.json
  desktop/tauri-live-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

found proper primary color for light and dark mode
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/styles.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

commentend out all hard coded colors
  desktop/src/app/components/admin-dictionaries/admin-dictionaries.component.scss
  desktop/src/app/components/admin-game-history/admin-game-history.component.scss
  desktop/src/app/components/admin-virtual-players/admin-virtual-players.component.scss
  desktop/src/app/components/chatbox/chatbox.component.scss
  desktop/src/app/components/dialog-box-abandon-game/dialog-box-abandon-game.component.scss
  desktop/src/app/components/dialog-box-game-type/dialog-box-game-type.component.scss
  desktop/src/app/components/dialog-box-high-scores/dialog-box-high-scores.component.scss
  desktop/src/app/components/dialog-box-modify-bot-names/dialog-box-modify-bot-names.component.scss
  desktop/src/app/components/footer/footer.component.scss
  desktop/src/app/components/generic-chat/generic-chat.component.scss
  desktop/src/app/components/header/header.component.scss
  desktop/src/app/components/high-scores/high-scores.component.scss
  desktop/src/app/components/information-panel/information-panel.component.scss
  desktop/src/app/components/play-area/play-area.component.scss
  desktop/src/app/components/player-rack/player-rack.component.scss
  desktop/src/app/pages/admin-page/admin-page.component.scss
  desktop/src/app/pages/game-page/game-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.scss
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.scss
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.scss
  desktop/src/styles.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

FIxed merge request threads
  server/app/classes/game.class.ts
  server/app/classes/turn.class.ts
  server/app/constants/bot.ts
  server/app/constants/players.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

creation of the avatar selector component
  desktop/src/app/app.module.ts
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.html
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.scss
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.spec.ts
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.ts
  desktop/src/app/modules/material.module.ts
  desktop/src/app/pages/user-account/user-account.component.html
  desktop/src/app/pages/user-account/user-account.component.scss
  desktop/src/app/pages/user-account/user-account.component.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added first tauri link
  desktop/src/app/services/theme.service.ts
  desktop/tauri-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added drag and drop
  mobile/lib/components/board-widget.dart
  mobile/lib/components/easel-widget.dart
  mobile/lib/components/letter-widget.dart
  mobile/lib/domain/enums/letter-enum.dart
  mobile/lib/domain/models/board-models.dart
  mobile/lib/domain/models/easel-model.dart
  mobile/lib/domain/services/game-service.dart
Due: none

first renderings of images
  desktop/src-tauri/tauri.conf.json
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.html
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.scss
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.ts
  desktop/src/app/pages/user-account/user-account.component.scss
  desktop/tauri-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

debugged builder
  desktop/src/app/components/dialog-box-modify-dictionary/dialog-box-modify-dictionary.component.html
  desktop/src/app/components/high-scores/high-scores.component.html
  desktop/src/app/components/play-area/play-area.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added account creation and password validation
  common/interfaces/user.ts
  desktop/src/app/app.module.ts
  desktop/src/app/directives/custom-validators.ts
  desktop/src/app/pages/user-account/user-account.component.html
  desktop/src/app/pages/user-account/user-account.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

avatar selector
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.html
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.scss
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.ts
  desktop/src/app/pages/user-account/user-account.component.scss
  desktop/src/app/pages/user-account/user-account.component.ts
  desktop/src/styles.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

selected image confirmation and feedback
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.html
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.scss
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.ts
  desktop/src/app/pages/user-account/user-account.component.html
  desktop/src/app/pages/user-account/user-account.component.scss
  desktop/src/app/pages/user-account/user-account.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

avatar image uploader
  common/interfaces/avatar-data.ts
  common/models/image-type.ts
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.html
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.ts
  desktop/src/app/pages/user-account/user-account.component.html
  desktop/src/app/pages/user-account/user-account.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

first iteration of the account menu
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.scss
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/modules/material.module.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

first iteration of the connection page
  desktop/src/app/app.module.ts
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/models/app-routes.ts
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/pages/connection-page/connection-page.component.html
  desktop/src/app/pages/connection-page/connection-page.component.scss
  desktop/src/app/pages/connection-page/connection-page.component.spec.ts
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/pages/user-account/user-account.component.html
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
  server/app/controllers/authentification.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

renamed connect to login
  desktop/src/app/pages/connection-page/connection-page.component.html
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added simple logout
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

started work on getting connection cookie from http login command
  desktop/package-lock.json
  desktop/package.json
  desktop/src/app/app.module.ts
  desktop/src/app/services/communication/app-cookie.service.spec.ts
  desktop/src/app/services/communication/app-cookie.service.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
  server/app/app.ts
  server/app/controllers/authentification.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

more work on signout method
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
  server/app/app.ts
  server/app/controllers/authentification.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

creation of the settings page template
  desktop/src/app/app.module.ts
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/settings-page/settings-page.component.scss
  desktop/src/app/pages/settings-page/settings-page.component.spec.ts
  desktop/src/app/pages/settings-page/settings-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

renamed user-account to user-creation-page
  desktop/src/app/app.module.ts
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/pages/user-creation-page/user-creation-page.component.html
  desktop/src/app/pages/user-creation-page/user-creation-page.component.scss
  desktop/src/app/pages/user-creation-page/user-creation-page.component.spec.ts
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
  desktop/src/main.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

temporarily added account in user service when signing up for easier debugging
  common/interfaces/user.ts
  desktop/src/app/components/header/header.component.html
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Update header.component.scss
  desktop/src/app/components/header/header.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

created the link to the settings page
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/models/app-routes.ts
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/settings-page/settings-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

moved language selector to the app-footer
  desktop/src/app/components/chatbox/chatbox.component.scss
  desktop/src/app/components/footer/footer.component.html
  desktop/src/app/components/footer/footer.component.scss
  desktop/src/app/components/footer/footer.component.ts
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added back language service to the header component
  desktop/src/app/components/footer/footer.component.html
  desktop/src/app/components/header/header.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop
