Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

Fix build error on desktop
  common/classes/gameboard.class.ts
  common/interfaces/game-state.ts
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/grid.service.ts
  desktop/src/app/services/letter-placement.service.ts
  mobile/lib/domain/services/room-service.dart
  server/app/classes/game.class.ts
  server/app/classes/gameboard.class.spec.ts
  server/app/classes/word.class.spec.ts
  server/app/classes/word.class.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Created IUser in dart
  mobile/lib/components/chatbox-widget.dart
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/pubspec.lock
Due: none

Added GameCreationQuery
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/create-game-screen.dart
Due: none

Small mistake in toJson()
  mobile/lib/domain/models/room-model.dart
Due: none

Translated
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/avatar-selector-widget.dart
Due: none

Added new room socket events and GameRoom interface
  mobile/development.env
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

Fix lint
  server/app/classes/dictionary-validation.class.spec.ts
  server/app/classes/dictionary-validation.class.ts
  server/app/classes/letter-placement.class.spec.ts
  server/app/classes/letter-placement.class.ts
  server/app/classes/player/player.class.spec.ts
  server/app/classes/player/real-player.class.spec.ts
  server/app/classes/word-solver.class.spec.ts
  server/app/classes/word-solver.class.ts
  server/app/interfaces/place-letters-return.ts
  server/app/services/games-management/games-actions.service.spec.ts
  server/app/services/games-management/games-handler.service.spec.ts
  server/app/services/games-management/games-state.service.spec.ts
Due: install:server, lint:server, build:server, test:server

added the difficulty to the game room
  common/interfaces/game-creation-query.ts
  common/interfaces/game-room.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Integrated create waiting room with server
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/create-game-screen.dart
Due: none

replaced the usage of ScrabbleGameInformation with GameRoom
  common/constants/socket-events.ts
  common/interfaces/game-scrabble-information.ts
  server/app/classes/game.class.spec.ts
  server/app/classes/game.class.ts
  server/app/classes/letter-placement.class.spec.ts
  server/app/classes/letter-placement.class.ts
  server/app/classes/objectives-handler.class.spec.ts
  server/app/classes/objectives-handler.class.ts
  server/app/classes/player/bot.class.ts
  server/app/classes/player/player.class.spec.ts
  server/app/classes/player/player.class.ts
  server/app/classes/player/real-player.class.ts
  server/app/classes/turn.class.spec.ts
  server/app/classes/turn.class.ts
  server/app/interfaces/dictionaryContainer.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/database/history-storage.service.spec.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-handler.service.spec.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.spec.ts
  server/app/services/games-management/games-state.service.ts
  server/app/services/rack.service.spec.ts
  server/app/services/rack.service.ts
Due: install:server, lint:server, build:server, test:server

async fix
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

Removed old room model
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/room-selection-screen.dart
Due: none

removed the roomId from the game since its already in the players and merged two dependent methods
  server/app/classes/game.class.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Added waiting room exit on mobile
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

changed how the live players are stored in the server
  common/interfaces/player-information.ts
  server/app/classes/game.class.ts
  server/app/classes/objectives-handler.class.ts
  server/app/classes/player/bot.class.ts
  server/app/classes/player/player.class.ts
  server/app/classes/player/real-player.class.ts
  server/app/classes/turn.class.ts
  server/app/services/database/history-storage.service.ts
  server/app/services/games-management/games-actions.service.spec.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-handler.service.spec.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.spec.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

oups
  server/app/services/games-management/games-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Add game start
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/main.dart
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/game-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

repaired the new creation of game
  common/interfaces/room-player.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/communication/app-cookie.service.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/classes/game.class.ts
  server/app/constants/letter-reserve.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

work on debugging the game end
  common/interfaces/game-state.ts
  common/interfaces/player-information.ts
  desktop/src/app/components/information-panel/information-panel.component.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/database/history-storage.service.ts
  server/app/services/database/score-storage.service.ts
  server/app/services/games-management/games-handler.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

more attempts at correcting the bug
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
  server/app/services/socket/socket-manager.service.ts
  server/tsconfig.json
Due: install:server, lint:server, build:server, test:server

created chatrooms db collection
  server/app/classes/database-collection.class.ts
  server/app/services/database/database.service.ts
Due: install:server, lint:server, build:server, test:server

implemented chat room storage service
  server/app/classes/database-collection.class.ts
  server/app/services/database/chat-rooms-storage.service.ts
Due: install:server, lint:server, build:server, test:server

so euh yes euh yes euh lots of debugging to do but we're getting somewhere...
  common/constants/socket-events.ts
  common/interfaces/game-actions.ts
  common/interfaces/game-state.ts
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/pages/game-page/game-page.component.ts
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/communication/app-cookie.service.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/game-client.service.spec.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/game-configuration.service.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/classes/player/bot.class.ts
  server/app/classes/player/player.class.ts
  server/app/classes/player/real-player.class.ts
  server/app/classes/turn.class.ts
  server/app/controllers/authentification.controller.ts
  server/app/controllers/dictionary.controller.spec.ts
  server/app/controllers/dictionary.controller.ts
  server/app/controllers/high-score.controller.ts
  server/app/controllers/history.controller.ts
  server/app/controllers/profile-picture.controller.ts
  server/app/controllers/virtual-players.controller.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/database/history-storage.service.spec.ts
  server/app/services/database/history-storage.service.ts
  server/app/services/games-management/games-actions.service.spec.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-handler.service.spec.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.spec.ts
  server/app/services/games-management/games-state.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Removed indexing for images + added ImageInfo to adapt to already having an image
  mobile/lib/components/avatar-selector-widget.dart
Due: none

Added new requests for changing avatar (for user settings)
  mobile/lib/domain/services/http-handler-service.dart
Due: none

Seperated register and login observables
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/screens/signup-screen.dart
Due: none

added chat rooms controller
  server/app/app.ts
  server/app/controllers/chat-rooms.controller.ts
  server/app/services/database/chat-rooms-storage.service.ts
Due: install:server, lint:server, build:server, test:server

moved a method that could have made a circular dependency and repaired the suppression of game rooms
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/tauri-dev.conf.json
  desktop/tauri-live-dev.conf.json
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/database/history-storage.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

fixed a condition that let the room opened if there were bots but no players
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/services/communication/client-socket.service.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

new reparation of the sockets on tauri (should be a lot more stable now)
  desktop/src-tauri/src/main.rs
  desktop/src/app/models/rust-command.ts
  desktop/src/app/pages/game-page/game-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/game-client.service.spec.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

oups
  desktop/src/app/services/game-client.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Merge and refactored interfaces
  common/interfaces/player-information.ts
  desktop/src/app/services/game-client.service.ts
  mobile/lib/domain/models/game-command-models.dart
  mobile/lib/main.dart
  server/app/classes/player/player.class.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

debugging with tauri
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
  desktop/tauri-live-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed console.log
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added the session cookie in the json object sent back by the login http method
  desktop/src/app/services/communication/app-cookie.service.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
  desktop/tauri-live-dev.conf.json
  server/app/controllers/authentification.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

completed patch to send cookie with http request to make tauri work on macos
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src/app/services/communication/app-cookie.service.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
  server/app/controllers/authentification.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

fixed the creation of games between solo and multi
  desktop/src/app/components/dialog-box-game-type/dialog-box-game-type.component.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

some work on debugging the rooms behaviors and tauri
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/pages/app/app.component.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

removed comments
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

renamed the game session service to waiting room service
  server/app/services/client-utilities/game-sessions.service.spec.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/socket/socket-subscribe-handler.service.spec.ts
  server/app/services/socket/socket-subscribe-handler.service.ts
Due: install:server, lint:server, build:server, test:server
