Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

corrected update player stats
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

fix
  mobile/lib/domain/services/game-service.dart
Due: none

debugged the placement of words and the abandon game
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

updated to the new useTauri var
  desktop/src/app/pages/game-page/game-page.component.ts
  desktop/src/app/services/theme.service.ts
  desktop/tauri-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed old gameboard
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/game-validation.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

removed old methods
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

tried debugging the game logic
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/games-management/game-validation.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

debugged the letter placement validation
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/game-validation.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

lint
  desktop/src/app/components/game-board/game-board.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed bug where rack letters are uppercase in word solver
  server/app/classes/word-solver.class.ts
Due: install:server, lint:server, build:server, test:server

fixed other bug where gameboard letter is uppercase in wordsolver
  server/app/classes/word-solver.class.ts
Due: install:server, lint:server, build:server, test:server

fixed bug where it would not skip turn if bot placed a word
  server/app/classes/game.class.ts
Due: install:server, lint:server, build:server, test:server

skipping turn after placing word only for bot
  server/app/classes/game.class.ts
  server/app/classes/player/bot.class.ts
Due: install:server, lint:server, build:server, test:server

fixing bug when bug is not playing his turn if hes the first player
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

lint fix
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

removed console log
  server/app/classes/letter-placement.class.ts
Due: install:server, lint:server, build:server, test:server

package.json update
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, build:server, test:server

simplified the main page
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Implemented game creation interface. Missing password input field and adding dictionary button
  mobile/lib/components/dropdown-menu.dart
  mobile/lib/components/toggle-icon-button.dart
  mobile/lib/domain/models/board-models.dart
  mobile/lib/domain/models/dictionary-model.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/dictionary-service.dart
  mobile/lib/domain/services/http-handler-service.dart
  mobile/lib/main.dart
  mobile/lib/screens/create-game-screen.dart
  mobile/pubspec.lock
Due: none

ajustement de la connexion socket avec rust
  desktop/src-tauri/src/main.rs
Due: install:desktop, lint:desktop, build:desktop, test:desktop

routing forcé vers la page de connexion si déconnecté
  desktop/src/app/pages/main-page/main-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

gestion asynchrone de la connexion avec tentative de validation pré-connexion
  desktop/src/app/services/communication/app-cookie.service.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

travaux de déboggage autour de la gestion des joueurs en cours de partie
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/database/user-stats-storage.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

debugged the socket connection
  common/constants/socket-events.ts
  desktop/src/app/services/communication/app-cookie.service.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/tauri-dev.conf.json
  server/app/services/database/user-stats-storage.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

follow of last commit
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

debugging of points staying on the board for the playing player
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/pages/game-page/game-page.component.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

slice =/= splice tabarnouche
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/user.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Game creation is dooooone
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/toggle-icon-button.dart
  mobile/lib/domain/models/dictionary-model.dart
  mobile/lib/screens/create-game-screen.dart
Due: none

lint
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/game-client.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Fix PR comment and made widget state field private
  mobile/assets/flutter_i18n/en.json
  mobile/lib/screens/create-game-screen.dart
  mobile/pubspec.lock
Due: none

PR fixes
  mobile/lib/domain/models/user-profile-models.dart
  mobile/lib/domain/services/avatar-service.dart
Due: none

fixed typo
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

fixed
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

fixes
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/domain/services/http-handler-service.dart
  mobile/lib/screens/user-settings-screen.dart
Due: none

PR FIXES
  mobile/development.env
  mobile/lib/domain/services/http-handler-service.dart
  mobile/lib/main.dart
  mobile/lib/screens/user-profile-screen.dart
Due: none

bug fix when adding historyEvent in DB
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

rename socketUsernameMap to socketIdMap
  server/app/services/socket/socket-manager.service.ts
Due: install:server, lint:server, build:server, test:server

Moved chat to right
  mobile/lib/screens/menu-screen.dart
Due: none

Fix pubspec.lock
  mobile/pubspec.lock
Due: none

Added Chat Widget + Implemented tabs and search bar for available rooms
  mobile/development.env
  mobile/lib/components/chat-widget.dart
  mobile/lib/main.dart
  mobile/lib/screens/menu-screen.dart
Due: none
