Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

install:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    - desktop/.npm/
    policy: pull-push
  stage: install
  script:
  - cd desktop
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:desktop
  allow_failure: true
  script:
  - cd desktop
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

build:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: build
  needs:
  - install:desktop
  script:
  - cd desktop
  - npm run build
  artifacts:
    paths:
    - desktop/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

test:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: test
  needs:
  - install:desktop
  image: registry.gitlab.com/nikolayradoev/docker-images/chrome-mongo-node:20223
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd desktop
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  artifacts:
    paths:
    - server/coverage/

lint
  desktop/src/app/services/tauri-state.service.spec.ts
  desktop/src/app/services/user.service.ts
  server/app/classes/letter-placement.class.ts
  server/app/classes/word.class.ts
  server/app/services/games-management/game-validation.service.ts
  server/app/services/games-management/games-actions.service.spec.ts
  server/app/services/games-management/games-actions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

disabled the dangling underscore rule
  desktop/.eslintrc.json
  server/.eslintrc.json
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

made the historyEvent, the language and the theme optional in IUser
  common/interfaces/user.ts
Due: none

updated the methods to update the gameboard from the server
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/pages/game-page/game-page.component.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed castings and logging
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/game-configuration.service.ts
  desktop/src/app/services/letter-placement.service.ts
  desktop/src/app/services/user.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

added method in http handler service to modify username
  mobile/lib/domain/services/http-handler-service.dart
Due: none

changed name of method http
  mobile/lib/domain/services/http-handler-service.dart
Due: none

inlined variables and added a missing await
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

added user service method to change username and handle http response
  mobile/lib/domain/services/user-service.dart
Due: none

minor changes
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

bug fix, app now runs
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/services/game-client.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

made dynamic theme linked with OS work
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/theme.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

adding cookie headers in modifyUsername request
  mobile/lib/domain/services/http-handler-service.dart
Due: none

modify password button event added
  mobile/lib/screens/user-settings-screen.dart
Due: none

removed print
  mobile/lib/screens/user-settings-screen.dart
Due: none

added added new languages strings to localization files
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
Due: none

changing colors of scackbars depending on response of http request
  mobile/lib/screens/user-settings-screen.dart
Due: none

Added https certificate for http requests
  mobile/assets/certs/server.key
  mobile/assets/certs/server.pem
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/http-handler-service.dart
  mobile/lib/main.dart
  mobile/production.env
  mobile/pubspec.yaml
Due: none

localization file modifications
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
Due: none

added confirmUsernameController and clearing controller at the end of request
  mobile/lib/screens/user-settings-screen.dart
Due: none

http handler service - new modifyPasswordRequest
  mobile/lib/domain/services/http-handler-service.dart
Due: none

user service - new method to modify password
  mobile/lib/domain/services/user-service.dart
Due: none

added modify_password strings languages
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
Due: none

user-settings screen : added event to modifypassword
  mobile/lib/screens/user-settings-screen.dart
Due: none

added obscure text to password input
  mobile/lib/screens/user-settings-screen.dart
Due: none

test with http socket connection
  desktop/tauri-live-dev.conf.json
  mobile/lib/main.dart
  mobile/pubspec.lock
  server/app/server.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

little modifications
  mobile/lib/screens/user-settings-screen.dart
Due: none

reverted socket connection back to http
  desktop/src-tauri/src/main.rs
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/environments/environment.live.ts
  desktop/src/environments/environment.prod.ts
  desktop/src/environments/environment.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

It works! Got socket in http and http requests with https
  mobile/lib/main.dart
  mobile/production.env
Due: none

rust corrections
  desktop/src-tauri/src/main.rs
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Hotfix/server default image key
  server/app/controllers/authentification.controller.ts
Due: install:server, lint:server, build:server, test:server

little language strings type fix
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
Due: none

added enums errors
  mobile/lib/domain/enums/server-errors-enum.dart
Due: none

fini
  mobile/lib/domain/services/user-service.dart
  mobile/lib/screens/user-settings-screen.dart
Due: none

little fix
  mobile/lib/domain/services/user-service.dart
Due: none

added a condition to filter the first row and column of the data from the server
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed unused old keys
  desktop/certs/client.key
  desktop/certs/client.pem
  server/app/certs/myCA.key
  server/app/certs/myCA.pem
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

more unused keys
  myCA.key
  myCA.pem
Due: none

some work on game starting
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

added a condition preventing users from disconnecting while in a game
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/pages/game-page/game-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*
