Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

syntax error
  .gitlab-ci.yml
Due: none

fixed header to accomodate chat button in header
  desktop/src/app/app.module.ts
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.scss
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/pages/admin-page/admin-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/multiplayer-create-page/multiplayer-create-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added message builder to chatroom + refactored some code
  mobile/lib/domain/models/chat-models.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/screens/chat-screen.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Added input + buttons for auth on homescreen
  mobile/lib/screens/menu-screen.dart
Due: none

Added snackbars for login feedback
  mobile/lib/screens/menu-screen.dart
Due: none

Moved socket enums to own file + started implementing auth service
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

Moved auth logic to auth service
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Linked observables to view
  mobile/lib/main.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Semi-functional loging
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Changed events so that we have an event to confirm connection
  common/constants/socket-events.ts
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/screens/chat-screen.dart
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Added event for successful connection
  server/app/services/client-utilities/home-chatbox-handler.service.ts
  server/package-lock.json
Due: install:server, lint:server, build:server, test:server

Fixed chatMessages showing after reconnection
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/screens/chat-screen.dart
Due: none

Fixed prettier a bit on the server
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Added validators for login screen
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/screens/menu-screen.dart
Due: none

mobile-prototype: Fix all my own MR comments
  mobile/development.env
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/main.dart
  mobile/lib/screens/chat-screen.dart
  mobile/lib/screens/menu-screen.dart
  mobile/production.env
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

added new configs for easier and flexible builds
  desktop/angular.json
  desktop/package.json
  desktop/tauri-live-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added missing live environment from last commit
  desktop/src/environments/environment.live.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Delete event-messages.ts
  desktop/src/app/services/chat/event-messages.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

correction et ajout de méthodes de chat
  desktop/src/app/interfaces/server-responses.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

commenting of unusefull code + adding of user service
  desktop/src/app/components/chatbox/chatbox.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/user.service.spec.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

main page interface fixed in order to accomodate sidenad toggle
  desktop/src/app/app.module.ts
  desktop/src/app/components/footer/footer.component.html
  desktop/src/app/components/footer/footer.component.scss
  desktop/src/app/components/generic-chat/generic-chat.component.html
  desktop/src/app/components/generic-chat/generic-chat.component.scss
  desktop/src/app/components/generic-chat/generic-chat.component.spec.ts
  desktop/src/app/components/generic-chat/generic-chat.component.ts
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.scss
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor UI changes
  desktop/src/app/components/generic-chat/generic-chat.component.html
  desktop/src/app/components/generic-chat/generic-chat.component.scss
  desktop/src/app/components/generic-chat/generic-chat.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

styling for genereic chat input fixed
  desktop/src/app/components/generic-chat/generic-chat.component.scss
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

items centered properly
  desktop/src/app/components/generic-chat/generic-chat.component.scss
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

open chat button moved to more intuitive spot
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Connection and disconnection!
  common/constants/socket-events.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Activation constante du bouton du chat
  desktop/src/app/pages/main-page/main-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

formatting of main page
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor changes
  desktop/src/app/components/generic-chat/generic-chat.component.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

corrections visuelles
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Débugage de la connection et déconnection
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

open-close chat button updated
  desktop/src/app/components/footer/footer.component.html
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

chat works!!
  desktop/src/app/components/generic-chat/generic-chat.component.html
  desktop/src/app/components/generic-chat/generic-chat.component.scss
  desktop/src/app/components/generic-chat/generic-chat.component.ts
  desktop/src/app/pages/main-page/main-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed username disparity
  common/interfaces/chatbox-message.ts
  desktop/src/app/components/generic-chat/generic-chat.component.html
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed admin button for prototype
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Refactored + Fixed menu bug + Changed theme + Removed auto collapse on submit in chat
  mobile/lib/components/chatbox-widget.dart
  mobile/lib/main.dart
  mobile/lib/screens/chat-screen.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Changed logging buttons to french + Added logging in on submit in keyboard
  mobile/lib/screens/menu-screen.dart
  mobile/pubspec.lock
Due: none

Added chat use cases
  doc/LOG3900-110_Architecture_Logiciel.md
Due: none

Changed the auth to work with the server from the other branch
  mobile/lib/components/chatbox-widget.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

Added internet permissions for internet access on final version
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/profile/AndroidManifest.xml
Due: none
