Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

add add et delete gamechatroom
  server/app/services/client-utilities/home-chatbox-handler.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:server, lint:server, build:server, test:server

added join and leave game chat room in game-state
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

added back profile image in game page
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Update .gitignore
  .gitignore
Due: none

updated loadmessage, to only send raw list of message
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

added getUserIdFromSocket
  server/app/services/games-management/games-state.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:server, lint:server, build:server, test:server

remove userid from socket arg
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

added getallchatrooms socket event
  common/constants/socket-events.ts
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

modified checkfornotif by returning list of roomsnames
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

added image in player infos while in game
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

started filtering rack infos for observer interface implementation
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/components/player-rack/player-rack.component.scss
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/models/rack-position.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added isDeletable field
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Added enum for chat events
  mobile/lib/domain/enums/socket-events-enum.dart
Due: none

Added enum for chat event errors
  mobile/lib/domain/enums/socket-events-enum.dart
Due: none

Started implementing getting chatroom
  mobile/lib/components/chat-widget.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

Fetching rooms working
  mobile/lib/components/chat-widget.dart
  mobile/lib/domain/models/chat-models.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

Added isDeletable to fetching messages + added roomName to the messages sent
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Implemented message treatment
  mobile/lib/components/chatroom-widget.dart
  mobile/lib/domain/models/chat-models.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

Changed send message to just take a string
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Receiving and sending messages working [not including loading messages]
  mobile/lib/components/chat-widget.dart
  mobile/lib/components/chatroom-widget.dart
  mobile/lib/domain/models/chat-models.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

Created the observer view interface - includes code for testing
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/game-client.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

debugged the account menu condition
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added missing css for the rack
  desktop/src/app/components/player-rack/player-rack.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

early work to let a player join a game as an observer while its started
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

lint
  server/app/classes/player/bot.class.ts
Due: install:server, lint:server, build:server, test:server

Able to join chatrooms and get joinedrooms on connection
  mobile/lib/components/chat-widget.dart
  mobile/lib/components/chatroom-widget.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

Mobile: Fix that you could place letter and skip turn when it wasn't you turn
  mobile/lib/components/game-info-widget.dart
  mobile/lib/domain/models/game-model.dart
  mobile/lib/domain/services/game-service.dart
Due: none

Added letter reserve count and fix a problem with dictionary dropdown menu
  mobile/lib/components/dropdown-menu.dart
  mobile/lib/components/game-info-widget.dart
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/models/game-model.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/screens/create-game-screen.dart
Due: none

Added a button to create rooms
  mobile/lib/components/chat-widget.dart
Due: none

added call to replace observer with bot
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.ts
  server/app/services/database/account-storage.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

fixed view for info panel desktop
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.scss
  desktop/src/app/components/play-area/play-area.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

reverted changes to test
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/game-client.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Added placement error notif and removed hardcoded turn length
  mobile/lib/components/game-info-widget.dart
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/models/game-model.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/screens/game-screen.dart
Due: none

Added resetting chatService on disconnect
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

repaired the switch from observer to bot - still need to make the timer transfer correctly
  desktop/src/app/services/game-client.service.ts
  server/app/classes/player/bot.class.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Fixed success placement call and dictionary error + Added error message when invalid word
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/domain/services/game-service.dart
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/game-screen.dart
  server/app/services/games-management/games-actions.service.ts
Due: install:server, lint:server, build:server, test:server

observers working on desktop
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/services/game-client.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

forgot an import
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

auto-format
  desktop/src/app/components/generic-chat/generic-chat.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor changes to main page
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop
