Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

Add directionnal placement validation
  mobile/lib/domain/services/game-service.dart
Due: none

bug fix
  desktop/src/app/components/header/header.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

debugged tauri compatibility
  desktop/src-tauri/src/main.rs
  desktop/tauri-dev.conf.json
  server/app/app.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Update main.rs
  desktop/src-tauri/src/main.rs
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fix the bug where a ghost letter is left the easel
  mobile/lib/components/easel-widget.dart
  mobile/lib/domain/services/game-service.dart
Due: none

footer fixed with themes
  desktop/src/app/components/footer/footer.component.html
  desktop/src/app/components/footer/footer.component.scss
  desktop/src/app/pages/app/app.component.html
  desktop/src/app/pages/main-page/main-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

changed secondary color for tile color
  desktop/src/styles.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

auto-format of player-rack
  desktop/src/app/components/player-rack/player-rack.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

adapted the multer to accept text files
  server/app/middlewares/multer-middleware.ts
Due: install:server, lint:server, build:server, test:server

added libraries
  desktop/package-lock.json
  desktop/package.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

bug correction
  desktop/src/app/components/header/header.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added profile picture posting and requesting for both default images and
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added method to get stored user data from mongodb
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

updated how to authenticate and create an account
  server/app/controllers/authentification.controller.ts
Due: install:server, lint:server, build:server, test:server

updated and documented how to send and get profile pictures
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

started to implement avatar selection
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/assets/images/test.png
  mobile/lib/components/avatar-selector-widget.dart
  mobile/lib/main.dart
  mobile/lib/screens/menu-screen.dart
  mobile/pubspec.yaml
Due: none

removed console.logs
  desktop/src/app/services/communication/http-handler.service.ts
  server/app/controllers/profile-picture.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

linting and correction
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  server/app/controllers/authentification.controller.ts
  server/app/controllers/profile-picture.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

removed invalid placement directions
  desktop/src/app/models/play-direction.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed arrow by default and added back the star on the center tile
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/models/board-tile.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

adapted the logic of the click to select the first tile of the word
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed star icon if arrow icon on the center tile
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

changed the logic of the drag placement to let first letter be everywhere
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

extracted the letter-out-of-bound logic
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added take a photo button
  mobile/lib/components/avatar-selector-widget.dart
Due: none

Fixed translation for titles
  mobile/lib/components/login-widget.dart
  mobile/lib/screens/signup-screen.dart
Due: none

Changed debugprint
  mobile/lib/domain/services/auth-service.dart
Due: none

Changed how to login on account creation
  mobile/lib/domain/services/auth-service.dart
Due: none

Added missing translations
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
Due: none

debugged placement validation
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

changed method to send placed word directly to socket
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added actions text style
  mobile/lib/components/avatar-selector-widget.dart
Due: none

added image_picker library
  mobile/ios/Flutter/Debug.xcconfig
  mobile/ios/Flutter/Release.xcconfig
  mobile/ios/Podfile
  mobile/macos/Flutter/Flutter-Debug.xcconfig
  mobile/macos/Flutter/Flutter-Release.xcconfig
  mobile/macos/Podfile
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

changed compileSdkVersion to 33 to support image_picker lib
  mobile/android/app/build.gradle
Due: none

finished avatar from camera
  mobile/lib/components/avatar-selector-widget.dart
Due: none

corrected lint
  mobile/lib/components/avatar-selector-widget.dart
Due: none

minor mods to main page
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added dark mode toggle to user icon
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

connection page theme fixed
  desktop/src/app/pages/connection-page/connection-page.component.html
  desktop/src/app/pages/connection-page/connection-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop
