Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

fix bot replacement when observer leaves
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

added images for the bots and fixed observer UI
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.scss
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Adapted login to take into account when you're already connected
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/login-widget.dart
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/domain/services/http-handler-service.dart
  mobile/lib/screens/menu-screen.dart
Due: none

cleaned connection page UI
  desktop/src/app/pages/connection-page/connection-page.component.html
  desktop/src/app/pages/connection-page/connection-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed forgot password http query
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

little fix bot
  server/app/classes/player/score-related-bot.class.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

verify if user exist on forget password route
  server/app/controllers/user-profile.controller.ts
Due: install:server, lint:server, build:server, test:server

overall chat working
  common/interfaces/send-message.ts
  desktop/src/app/app.module.ts
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/components/dialog-box-create-chat/dialog-box-create-chat.component.html
  desktop/src/app/components/dialog-box-create-chat/dialog-box-create-chat.component.scss
  desktop/src/app/components/dialog-box-create-chat/dialog-box-create-chat.component.spec.ts
  desktop/src/app/components/dialog-box-create-chat/dialog-box-create-chat.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
  server/app/services/client-utilities/chat-handler.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

coomment toogleWindow button, need css corrections
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added load on captcha
  mobile/lib/components/recaptcha-widget.dart
  mobile/lib/screens/signup-screen.dart
Due: none

Added try to load settings config
  mobile/lib/domain/services/auth-service.dart
Due: none

debugged hints placement and points
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

server - fix bug when observer replaces bot when its his turn
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

added notif baged
  desktop/src/app/app.module.ts
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

css
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

observanle
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added reset coonfig
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

lint fucking ting
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/components/dialog-box-letter-selector/dialog-box-letter-selector.component.ts
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/game-configuration.service.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/classes/player/player.class.ts
  server/app/classes/player/score-related-bot.class.ts
  server/app/config/nodemailer.ts
  server/app/controllers/user-profile.controller.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

chat
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

useridset
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Clues fully fonctionning
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/board-widget.dart
  mobile/lib/components/game-actions-widget.dart
  mobile/lib/domain/services/clue-service.dart
Due: none

Added structure to message sent mobile
  mobile/lib/domain/models/chat-models.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

something doesn<t work anymore, need to debug
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor changes
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

userimg
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/interfaces/user-chat-room.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Implemented observer joining rooms behavior on mobile
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/room-selection-screen.dart
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:server, lint:server, build:server, test:server

removed double dependencies loading and changed the way to use forms in the game creation
  desktop/src/app/app.module.ts
  desktop/src/app/modules/material.module.ts
  desktop/src/app/pages/app/app.component.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

took userStats out of user service
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor change
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed debug
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

user image done
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

commited in order to change branches
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Waiting rooms updates when a user leaves the game
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Add some delays to prevent dragevent after placedletter
  desktop/src/app/services/letter-placement.service.ts
  mobile/lib/domain/services/game-service.dart
Due: install:desktop, lint:desktop, build:desktop, test:desktop

the app is now butter smooth
  desktop/angular.json
  desktop/package.json
  desktop/src/app/app.component.ts
  desktop/src/app/app.module.ts
  desktop/src/app/components/admin-dictionaries/admin-dictionaries.component.ts
  desktop/src/app/components/dialog-box-abandon-game/dialog-box-abandon-game.component.ts
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/pages/app/app.component.ts
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/pages/game-page/game-page.component.ts
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/pages/settings-page/settings-page.component.ts
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/game-configuration.service.ts
  desktop/src/app/services/user.service.ts
  desktop/tauri-dev.conf.json
  desktop/tauri-live-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

update roomsession header
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

handle create chatroom err
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed more chat bugs
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed bug with bot avatars that happens sometimes when the app doesn't load the url fast enought
  mobile/lib/components/player-info-widget.dart
  mobile/lib/domain/services/avatar-service.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

Removed old chat service that caused bugs in games
  server/app/services/client-utilities/chatbox-handler.service.spec.ts
  server/app/services/client-utilities/chatbox-handler.service.ts
  server/app/services/socket/initialization-handler.service.spec.ts
  server/app/services/socket/initialization-handler.service.ts
Due: install:server, lint:server, build:server, test:server
