Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

debugged the ratio of windows for desktop drag&drop
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed null reference when abandoning a game
  mobile/lib/screens/game-screen.dart
Due: none

debugged new subject for room deletion
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-handler.service.ts
Due: install:server, lint:server, build:server, test:server

removed draggable attribute on none letter tiles
  desktop/src/app/components/game-board/game-board.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed condition of user comparison
  desktop/src/app/services/game-client.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added fix for sticky unstable rooms
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:server, lint:server, build:server, test:server

patching and more drag and drop work
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

modified theme colors to match mobile more
  desktop/src/styles.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added user profile page
  desktop/src/app/app.module.ts
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.scss
  desktop/src/app/pages/user-profile-page/user-profile-page.component.spec.ts
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added route
  desktop/src/app/models/app-routes.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

modified drop down menu
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added route
  desktop/src/app/modules/app-routing.module.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added search bar for joined rooms
  mobile/lib/components/chat-widget.dart
Due: none

drag and drop seems to work
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

debugged build
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed server crash on startup if client tries to connect + renamed services
  server/app/controllers/authentification.controller.ts
  server/app/server.ts
  server/app/services/client-utilities/chat-handler.service.ts
  server/app/services/games-management/games-state.service.ts
  server/app/services/socket/initialization-handler.service.spec.ts
  server/app/services/socket/initialization-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Added onDisconnect saving MessagesCount
  server/app/services/client-utilities/chat-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Refactored profile-picture controller to seperate into ImageStorageService
  server/app/controllers/profile-picture.controller.ts
  server/app/services/database/image-storage.service.ts
Due: install:server, lint:server, build:server, test:server

Added endpoint to fetch username and image for chat
  common/interfaces/chat-room.ts
  server/app/controllers/chat-rooms.controller.ts
  server/app/services/client-utilities/chat-handler.service.ts
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

Implemented fetching images and usernames
  mobile/lib/components/chatroom-widget.dart
  mobile/lib/domain/models/chat-models.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/domain/services/http-handler-service.dart
  server/app/controllers/chat-rooms.controller.ts
Due: install:server, lint:server, build:server, test:server

pie chart works!!!
  desktop/package-lock.json
  desktop/package.json
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.scss
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

starts of getting user stats. needs debugging
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
  server/app/controllers/user-profile.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

change url prefix of dynamic link
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/lib/domain/services/dynamic-link-service.dart
Due: none

look of pie chart matches mobile
  desktop/src/app/pages/user-profile-page/user-profile-page.component.scss
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added history list to profile page
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

score related bot now working on mobile
  common/models/game-difficulty.ts
  mobile/development.env
  server/app/classes/player/score-related-bot.class.ts
  server/app/services/database/virtual-players-storage.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

server game state and games-handgler beggining of refactor
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

little fix
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

another fix
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:server, lint:server, build:server, test:server

refactor of calculateEndGameScore method
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

bug fix abandonGame mobile
  mobile/lib/screens/game-screen.dart
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

server - fixed not removing letters from rack after placing word
  server/app/classes/player/expert-bot.class.ts
  server/app/services/games-management/games-state.service.ts
  server/app/services/rack.service.ts
Due: install:server, lint:server, build:server, test:server

server - handling command info coming from clients to handle blank letters
  server/app/services/games-management/games-actions.service.ts
Due: install:server, lint:server, build:server, test:server

Made star placement as lower case
  mobile/lib/domain/services/game-service.dart
Due: none

little fix for star letters mobile
  mobile/lib/domain/services/game-service.dart
Due: none

moved the word class to common to handle placement responses
  common/classes/word.class.ts
  server/app/classes/dictionary-validation.class.spec.ts
  server/app/classes/dictionary-validation.class.ts
  server/app/classes/game.class.spec.ts
  server/app/classes/letter-placement.class.spec.ts
  server/app/classes/letter-placement.class.ts
  server/app/classes/objectives-handler.class.spec.ts
  server/app/classes/objectives-handler.class.ts
  server/app/classes/player/bot.class.ts
  server/app/classes/player/real-player.class.spec.ts
  server/app/classes/word-solver.class.ts
  server/app/classes/word.class.spec.ts
  server/app/interfaces/validate-word-return.ts
  server/app/interfaces/word-placement-result.ts
  server/app/services/games-management/game-validation.service.ts
  server/app/services/games-management/games-actions.service.spec.ts
  server/app/services/games-management/games-actions.service.ts
Due: install:server, lint:server, build:server, test:server

updated the board toStringArray() method for easier handling in the clients
  common/classes/gameboard.class.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/games-management/games-actions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Added avator to waiting and game screen + Added mecanics in waiting room
  mobile/assets/images/crown.png
  mobile/lib/components/game-info-widget.dart
  mobile/lib/components/reserve-widget.dart
  mobile/lib/domain/models/board-models.dart
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/avatar-service.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/domain/services/http-handler-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/game-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
  mobile/pubspec.yaml
Due: none

Fixed star letter bug on mobile
  mobile/lib/domain/services/game-service.dart
Due: none

dragging position debugged
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server
