Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

install:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    - desktop/.npm/
    policy: pull-push
  stage: install
  script:
  - cd desktop
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:desktop
  allow_failure: true
  script:
  - cd desktop
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

build:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: build
  needs:
  - install:desktop
  script:
  - cd desktop
  - npm run build
  artifacts:
    paths:
    - desktop/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

test:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: test
  needs:
  - install:desktop
  image: registry.gitlab.com/nikolayradoev/docker-images/chrome-mongo-node:20223
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd desktop
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  artifacts:
    paths:
    - server/coverage/

debugging console.logs
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/communication/client-socket.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Implemented star placement on mobile
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/board-widget.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/screens/game-screen.dart
  server/app/services/games-management/game-validation.service.ts
Due: install:server, lint:server, build:server, test:server

Added onConnect and onDisconnect for callbacks that needs id on connection and disconnect
  server/app/services/socket/socket-manager.service.ts
Due: install:server, lint:server, build:server, test:server

Added keeping room when closing dialog and reopening
  mobile/lib/components/chat-widget.dart
  mobile/lib/components/chatroom-widget.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

working quitting current room (not leaving)
  mobile/lib/components/chat-widget.dart
  mobile/lib/components/chatroom-widget.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

Added room creation
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/chat-widget.dart
  mobile/lib/components/chatroom-widget.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

Added room name when getting error on creation
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Implemented letter exchange interface on mobile. The server still crash when an exchange is called tho...
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/assets/images/exchange.png
  mobile/lib/components/game-info-widget.dart
  mobile/lib/components/reserve-widget.dart
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/screens/game-screen.dart
  mobile/pubspec.yaml
  server/app/services/games-management/games-actions.service.ts
Due: install:server, lint:server, build:server, test:server

Fixed server crash for letter exchange. Integration completed! :)
  mobile/lib/domain/services/game-service.dart
  server/app/services/games-management/games-actions.service.ts
Due: install:server, lint:server, build:server, test:server

Added missing translations
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/game-info-widget.dart
  mobile/lib/screens/game-screen.dart
Due: none

missing returns crashed the account creation
  server/app/controllers/authentification.controller.ts
Due: install:server, lint:server, build:server, test:server

added user creation error message
  desktop/src-tauri/src/main.rs
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added joining room when creating room (server)
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Implemented subscribe on rooms when connecting
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Changed IUserID to include UserChatRooms
  common/interfaces/user.ts
Due: none

work on trying to make the game end notify bot
  desktop/src-tauri/src/main.rs
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/game-configuration.service.ts
  desktop/tsconfig.json
  server/app/classes/player/bot.class.ts
  server/app/classes/turn.class.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Added rooms load on server loading
  server/app/services/client-utilities/home-chatbox-handler.service.ts
  server/app/services/database/chat-rooms-storage.service.ts
Due: install:server, lint:server, build:server, test:server

Able to leave room (Leave totally)
  mobile/lib/components/chatroom-widget.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

added button to create account on sign in page
  desktop/src/app/components/header/header.component.html
  desktop/src/app/pages/connection-page/connection-page.component.html
  desktop/src/app/pages/connection-page/connection-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Changed deleting room
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

css adjustment
  desktop/src/app/pages/connection-page/connection-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added a condition to quit game page when room deleted
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

bug fix
  desktop/src/app/components/header/header.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Merged leaving room with deleting room
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Added deleting room on client
  mobile/lib/components/chatroom-widget.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

Fixed login
  mobile/lib/domain/services/auth-service.dart
Due: none

Dynamic link (Partage de partie intégrée) - Mobile
  mobile/android/app/build.gradle
  mobile/android/app/google-services.json
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/build.gradle
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/ios/Runner/GoogleService-Info.plist
  mobile/ios/firebase_app_id_file.json
  mobile/lib/components/login-widget.dart
  mobile/lib/domain/models/deeplink-info-model.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/dynamic-link-service.dart
  mobile/lib/firebase_options.dart
  mobile/lib/main.dart
  mobile/lib/screens/login-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
  mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  mobile/macos/Runner/GoogleService-Info.plist
  mobile/macos/firebase_app_id_file.json
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

Changed variable name in socketManager + can now detect if user created the room
  mobile/lib/components/chatroom-widget.dart
  mobile/lib/domain/services/chat-service.dart
  server/app/services/socket/socket-manager.service.ts
Due: install:server, lint:server, build:server, test:server

Fixed Login on rooms that don't exist
  server/app/controllers/authentification.controller.ts
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

Fixing login crash (part2)
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Added kicked out of room + small UI changes to room
  mobile/lib/components/chat-widget.dart
  mobile/lib/components/chatroom-widget.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

first work on synchronus UIs
  common/constants/socket-events.ts
  common/interfaces/drag-infos.ts
  common/interfaces/simple-letter-infos.ts
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/pages/game-page/game-page.component.html
  desktop/src/app/pages/game-page/game-page.component.scss
  desktop/src/app/pages/game-page/game-page.component.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/game-configuration.service.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Changed Chat message view
  mobile/lib/components/chatroom-widget.dart
Due: none

Dynamic room added when searching
  mobile/lib/components/chat-widget.dart
Due: none

Notifications on client
  mobile/lib/components/chat-button-widget.dart
  mobile/lib/components/chat-widget.dart
  mobile/lib/components/chatroom-widget.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Implemented server sending notified rooms
  mobile/lib/domain/models/chat-models.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
  server/app/controllers/authentification.controller.ts
  server/app/interfaces/user-chat-room.ts
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Adding deletable attribute to DB
  common/interfaces/chat-room.ts
  server/app/services/client-utilities/home-chatbox-handler.service.ts
  server/app/services/database/chat-rooms-storage.service.ts
Due: install:server, lint:server, build:server, test:server

Translated
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/chat-widget.dart
  mobile/lib/components/chatroom-widget.dart
Due: none

Fixed deletable bug
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

Quelques bugs fix sur serveur
  server/app/classes/letter-placement.class.ts
  server/app/classes/player/bot.class.ts
  server/app/classes/player/expert-bot.class.ts
  server/app/services/client-utilities/waiting-room.service.spec.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
  server/app/services/rack.service.ts
Due: install:server, lint:server, build:server, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*
