Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

added ServerError enums related to forgot password request
  mobile/lib/domain/enums/server-errors-enum.dart
Due: none

added method to request forgot password in user-service - mobile
  mobile/lib/domain/services/user-service.dart
Due: none

removed laziness from http service singleton to fix bot images
  mobile/lib/main.dart
Due: none

added reconnection dialog
  desktop/src/app/app.module.ts
  desktop/src/app/components/dialog-box-reconnection/dialog-box-reconnection.component.html
  desktop/src/app/components/dialog-box-reconnection/dialog-box-reconnection.component.scss
  desktop/src/app/components/dialog-box-reconnection/dialog-box-reconnection.component.spec.ts
  desktop/src/app/components/dialog-box-reconnection/dialog-box-reconnection.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed the query to get the new room list
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:server, lint:server, build:server, test:server

removed a console log
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:server, lint:server, build:server, test:server

fix chat css
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

working clue algorithm and first iteration of the new clue UI
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Mobile: Oberserver implementation completed
  mobile/lib/components/easel-widget.dart
  mobile/lib/components/game-info-widget.dart
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/models/easel-model.dart
  mobile/lib/domain/models/game-command-models.dart
  mobile/lib/domain/models/game-model.dart
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/screens/room-selection-screen.dart
Due: none

added route and button to get new password
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
  desktop/src/app/pages/connection-page/connection-page.component.html
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

chat desktop
  common/interfaces/user.ts
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/components/chatbox/chatbox.component.html
  desktop/src/app/components/chatbox/chatbox.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed legacy code
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed link problem between chat service and user service
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added letter placement sync and chat in room
  mobile/lib/components/board-widget.dart
  mobile/lib/components/game-info-widget.dart
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/models/letter-synchronisation-model.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/screens/game-screen.dart
Due: none

leaving game room now working + fixed error when joining a room that's destroyed
  mobile/lib/domain/services/chat-service.dart
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Changed how the game and player infos are updated
  mobile/lib/components/easel-widget.dart
  mobile/lib/domain/models/easel-model.dart
  mobile/lib/domain/models/game-model.dart
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/game-service.dart
Due: none

Blocked creation of rooms with game prefix to the name
  server/app/services/client-utilities/chat-handler.service.ts
Due: install:server, lint:server, build:server, test:server

fix game
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Added Chatroom constraints msg + Added that no room can be create with prefix game
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/chat-widget.dart
Due: none

get works
  desktop/src/app/components/header/header.component.html
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

rounded avg game score
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added error messages
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/chat-join-form.dart
  mobile/lib/components/chat-widget.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

Fixed not joining room when creating room
  server/app/services/client-utilities/chat-handler.service.ts
Due: install:server, lint:server, build:server, test:server

harder work on trying to find how to make the second window work (it works now))
  desktop/src-tauri/src/main.rs
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/models/app-routes.ts
  desktop/src/app/models/rust-command.ts
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed return to end screen in the main menu
  mobile/lib/screens/end-game-screen.dart
Due: none

added an update to isConnected when the new window connects
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/services/letter-placement.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

repaired the next valid placement algorithm
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Mobile: Added parsing of drag info from desktop
  mobile/lib/components/OpponentDraggedLetterWidget.dart
  mobile/lib/components/board-widget.dart
  mobile/lib/components/easel-widget.dart
  mobile/lib/domain/models/letter-synchronisation-model.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/domain/services/game-sync-service.dart
  mobile/lib/main.dart
  mobile/lib/screens/game-screen.dart
Due: none

Fixed gameEnded
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Removed useless console.logs
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Mobile Add send drag event
  mobile/lib/domain/services/game-service.dart
  mobile/lib/domain/services/game-sync-service.dart
Due: none

cleaned the hints UI, still some bugs left
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.scss
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Created vertical game-screen layout
  mobile/lib/components/board-widget.dart
  mobile/lib/components/game-info-widget.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/domain/services/game-sync-service.dart
  mobile/lib/screens/game-screen.dart
Due: none

Mobile: Fixed vertical dragged letter parsing
  mobile/lib/domain/services/game-sync-service.dart
Due: none

Changed + to prefix on create chatroom
  mobile/lib/components/chat-widget.dart
Due: none

observer fix
  server/app/classes/player/player.class.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

sketchy fix
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

changed window size to fit all content of a game
  desktop/tauri-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

The complete implementation of the clues on mobile ;)
  mobile/lib/components/board-widget.dart
  mobile/lib/components/game-actions-widget.dart
  mobile/lib/components/game-info-widget.dart
  mobile/lib/components/letter-widget.dart
  mobile/lib/components/player-info-widget.dart
  mobile/lib/domain/models/game-command-models.dart
  mobile/lib/domain/services/clue-service.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/main.dart
Due: none

now score related bot takes players average score as input
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server
