Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

Observateur et remplacement par Bot- Serveur
  common/constants/socket-events.ts
  common/interfaces/user.ts
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src/app/services/user.service.ts
  server/app/classes/player/bot.class.ts
  server/app/classes/player/player.class.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/database/account-storage.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

change updatescore
  server/app/services/database/account-storage.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

added id
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Added potential models for matches and connections history
  mobile/lib/domain/models/user-profile-models.dart
Due: none

Added methods to build matches and connections items
  mobile/lib/screens/user-profile-screen.dart
Due: none

Implemented structure for settings screen
  mobile/lib/screens/user-settings-screen.dart
Due: none

added method to get player game result
  common/interfaces/player-game-result.ts
  server/app/classes/player/player.class.ts
Due: install:server, lint:server, build:server, test:server

Added username input validation
  mobile/lib/screens/user-settings-screen.dart
Due: none

Removed redundant userImage
  mobile/lib/components/avatar-selector-widget.dart
  mobile/lib/domain/models/profile-image-info-model.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/avatar-service.dart
Due: none

Moved user to user service
  mobile/lib/components/chatbox-widget.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/avatar-service.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/domain/services/user-service.dart
  mobile/lib/main.dart
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/user-settings-screen.dart
Due: none

Fixed error
  mobile/lib/screens/menu-screen.dart
Due: none

Added profile avatar + fixed avatar width
  mobile/lib/components/avatar-selector-widget.dart
  mobile/lib/screens/user-settings-screen.dart
Due: none

Added image validator for change
  mobile/lib/components/avatar-selector-widget.dart
  mobile/lib/screens/user-settings-screen.dart
Due: none

added get winner player method
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

added userStats db
  server/app/services/database/database.service.ts
Due: install:server, lint:server, build:server, test:server

Updated avatar service + Added password to settings page
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/avatar-service.dart
  mobile/lib/domain/services/http-handler-service.dart
  mobile/lib/domain/services/user-service.dart
  mobile/lib/screens/user-settings-screen.dart
Due: none

added user stats interface
  common/interfaces/user-stats.ts
Due: none

modified game-history-info interface
  common/interfaces/game-history-info.ts
Due: none

implemented user-stats-storage service
  server/app/services/database/user-stats-storage.service.ts
Due: install:server, lint:server, build:server, test:server

Changing avatar functional
  mobile/lib/domain/services/avatar-service.dart
  mobile/lib/domain/services/http-handler-service.dart
  mobile/lib/domain/services/user-service.dart
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/user-settings-screen.dart
Due: none

added getUserStats method
  server/app/services/database/user-stats-storage.service.ts
Due: install:server, lint:server, build:server, test:server

Corrected password interface
  mobile/lib/domain/services/avatar-service.dart
  mobile/lib/screens/user-settings-screen.dart
Due: none

Implemented users stats controller
  server/app/controllers/user-stats.controller.ts
Due: install:server, lint:server, build:server, test:server

moved controller inside user-profile controller
  server/app/controllers/user-profile.controller.ts
  server/app/controllers/user-stats.controller.ts
  server/app/services/database/user-stats-storage.service.ts
Due: install:server, lint:server, build:server, test:server

added http status code
  server/app/controllers/chat-rooms.controller.ts
Due: install:server, lint:server, build:server, test:server

Placing word actually works. (Was bugged as hell)
  common/classes/letter-tile.class.ts
  mobile/lib/components/board-widget.dart
  mobile/lib/components/easel-widget.dart
  mobile/lib/components/game-info-widget.dart
  mobile/lib/domain/models/game-model.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/game-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
  server/app/classes/dictionary-validation.class.ts
  server/app/classes/letter-placement.class.ts
  server/app/classes/word.class.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/games-management/game-validation.service.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-state.service.ts
  server/app/services/rack.service.ts
Due: install:server, lint:server, build:server, test:server

Fixed submit not disabling after changing avatar
  mobile/lib/screens/user-settings-screen.dart
Due: none

Removed useless print
  mobile/lib/domain/services/user-service.dart
Due: none

add custom id to addnewuser
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

Desktop now build and fixed waiting room update
  desktop/src/app/components/admin-game-history/admin-game-history.component.html
  desktop/src/app/services/game-client.service.ts
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/game-service.dart
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added score display and fix position bug
  mobile/lib/components/easel-widget.dart
  mobile/lib/components/game-info-widget.dart
  mobile/lib/domain/models/board-models.dart
  mobile/lib/domain/models/game-command-models.dart
  mobile/lib/domain/models/game-model.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/game-service.dart
Due: none

Fix esme comments
  desktop/src/app/components/admin-game-history/admin-game-history.component.html
  mobile/lib/domain/services/game-service.dart
Due: install:desktop, lint:desktop, build:desktop, test:desktop

separated interfaces into their own files
  common/interfaces/exchange-public-info.ts
  common/interfaces/game-actions.ts
  common/interfaces/place-word-command-info.ts
  common/interfaces/view-update-info.ts
Due: none

resolved wrong imports
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/command-handler.service.spec.ts
  desktop/src/app/services/command-handler.service.ts
  server/app/classes/game.class.spec.ts
  server/app/classes/game.class.ts
  server/app/classes/letter-placement.class.spec.ts
  server/app/classes/letter-placement.class.ts
  server/app/classes/player/beginner-bot.class.spec.ts
  server/app/classes/player/beginner-bot.class.ts
  server/app/classes/player/bot.class.spec.ts
  server/app/classes/player/bot.class.ts
  server/app/classes/player/expert-bot.class.spec.ts
  server/app/classes/player/expert-bot.class.ts
  server/app/classes/player/real-player.class.spec.ts
  server/app/classes/word-solver.class.spec.ts
  server/app/classes/word-solver.class.ts
  server/app/classes/word.class.spec.ts
  server/app/classes/word.class.ts
  server/app/services/games-management/game-validation.service.ts
  server/app/services/games-management/games-actions.service.spec.ts
  server/app/services/games-management/games-actions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

bug fix
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

translated most critical http queries to tauri backend usage
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/main.rs
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.ts
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
  desktop/tauri-dev.conf.json
  desktop/tsconfig.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

translated more http requests
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

changed chat pf sides on main-page to concord with gameboard
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

remove score from IUser
  common/interfaces/user.ts
Due: none

added the rust implementation of the delete request
  desktop/src-tauri/src/main.rs
Due: install:desktop, lint:desktop, build:desktop, test:desktop
