Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

fix blank letter score calculator
  server/app/classes/letter-placement.class.ts
  server/app/classes/player/expert-bot.class.ts
  server/app/classes/word.class.ts
  server/app/services/games-management/games-actions.service.ts
Due: install:server, lint:server, build:server, test:server

fix exchange letters mobile
  server/app/services/games-management/games-actions.service.ts
Due: install:server, lint:server, build:server, test:server

switch post query to get
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added start letter handling on desktop and debugged next available positions algorithm
  common/interfaces/letter.ts
  desktop/src/app/app.module.ts
  desktop/src/app/components/dialog-box-letter-selector/dialog-box-letter-selector.component.html
  desktop/src/app/components/dialog-box-letter-selector/dialog-box-letter-selector.component.scss
  desktop/src/app/components/dialog-box-letter-selector/dialog-box-letter-selector.component.spec.ts
  desktop/src/app/components/dialog-box-letter-selector/dialog-box-letter-selector.component.ts
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

debugged the erasing with keyboard
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed image bug server
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

debugged hover and image upload. Added a button to refresh profile pic
  desktop/src-tauri/src/main.rs
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/settings-page/settings-page.component.scss
  desktop/src/app/pages/settings-page/settings-page.component.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/letter-placement.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

moved server logic to allow denying connection when user already connected
  server/app/services/socket/socket-manager.service.ts
Due: install:server, lint:server, build:server, test:server

adapted desktop app to allow support for user denying and debugged the rust-angular link
  desktop/src-tauri/src/main.rs
  desktop/src/app/pages/app/app.component.ts
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added audio
  mobile/assets/audio/notification.mp3
  mobile/lib/domain/services/audio_service.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/main.dart
  mobile/linux/flutter/generated_plugin_registrant.cc
  mobile/linux/flutter/generated_plugins.cmake
  mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/windows/flutter/generated_plugin_registrant.cc
  mobile/windows/flutter/generated_plugins.cmake
Due: none

Added auto-join room session on joining room
  mobile/lib/domain/services/audio_service.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

fix bot replacement in waiting room
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:server, lint:server, build:server, test:server

removed console logs
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Fixed missing kick player call
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

started making the user references more reactive on desktop ui
  desktop/src/app/components/header/header.component.html
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/services/user.service.ts
  server/app/services/games-management/games-handler.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

stabilized a lot the user account handling on desktop
  desktop/src/app/components/header/header.component.html
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/settings-page/settings-page.component.ts
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed bug in waiting room
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

revamped user creation form
  desktop/src/app/pages/user-creation-page/user-creation-page.component.html
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

here me out; working game room deletion
  desktop/src/app/components/dialog-box-abandon-game/dialog-box-abandon-game.component.ts
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/pages/game-page/game-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/services/communication/client-socket.service.ts
  server/app/classes/player/bot.class.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

removed console logs
  desktop/src/app/components/dialog-box-letter-selector/dialog-box-letter-selector.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/user.service.ts
  server/app/controllers/user-profile.controller.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

clues pretty much working on desktop
  desktop/src-tauri/src/main.rs
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

added a button to query a waiting room list update
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

desktop chatbox ui almost done
  common/interfaces/user.ts
  desktop/src/app/app.module.ts
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
  desktop/src/app/components/chat/generic-chat/generic-chat.component.spec.ts
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/components/generic-chat/generic-chat.component.html
  desktop/src/app/components/generic-chat/generic-chat.component.scss
  desktop/src/app/components/header/header.component.html
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/user.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

GameChatRooms works on creating and destroying waiting rooms
  mobile/lib/domain/services/chat-service.dart
  mobile/lib/screens/menu-screen.dart
  server/app/services/client-utilities/chat-handler.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

more debugging and tweaking
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/game-validation.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

change clueCommands sent number to 5
  server/app/services/games-management/games-actions.service.ts
Due: install:server, lint:server, build:server, test:server

Added side chat to waiting rooms and create room pages
  mobile/lib/components/chat-widget.dart
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

Adapted chat in server to work with waiting rooms
  server/app/services/client-utilities/chat-handler.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

modified clue command to send the 5 best clues
  server/app/services/games-management/games-actions.service.ts
Due: install:server, lint:server, build:server, test:server

removed useless todos
  mobile/lib/domain/services/chat-service.dart
Due: none

debugged and some uI fix
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/player-rack/player-rack.component.html
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

nodemailer install package
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, build:server, test:server

added socket events on
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/interfaces/chat-room-client.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

implemented forgot password route and implemented transporter to send email
  server/app/config/nodemailer.ts
  server/app/controllers/user-profile.controller.ts
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, build:server, test:server

Fixed minor desktop bug with IUser and chatrooms
  desktop/src/app/pages/connection-page/connection-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added storing the creator id in DB
  common/interfaces/chat-room.ts
  server/app/services/client-utilities/chat-handler.service.ts
  server/app/services/database/chat-rooms-storage.service.ts
Due: install:server, lint:server, build:server, test:server

added method to format html email template with username and temp password
  server/app/config/nodemailer.ts
Due: install:server, lint:server, build:server, test:server

updating temp password in DB and sending email to client via forgot-password route
  server/app/controllers/user-profile.controller.ts
Due: install:server, lint:server, build:server, test:server

little fix
  server/app/controllers/user-profile.controller.ts
Due: install:server, lint:server, build:server, test:server

Mobile - added http handler post request forgotPassword
  mobile/lib/domain/services/http-handler-service.dart
  mobile/pubspec.lock
  server/app/controllers/user-profile.controller.ts
Due: install:server, lint:server, build:server, test:server
