Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

code cleaning main page
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

header admin/home button fixed
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fix MR comment about translation
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/screens/end-game-screen.dart
  mobile/lib/screens/game-screen.dart
  mobile/pubspec.lock
Due: none

Refactored chat-screen
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/screens/chat-screen.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Refactor screen titles
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/game-screen.dart
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/room-selection-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

added avatar service, might delete later
  mobile/lib/components/avatar-selector-widget.dart
  mobile/lib/domain/services/avatar-service.dart
  mobile/lib/main.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

added get default images req
  mobile/lib/components/avatar-selector-widget.dart
  mobile/lib/domain/services/avatar-service.dart
  mobile/lib/domain/services/http-handler-service.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

Added header+footer+drawer+refactored+profile icon+Cleaned interface
  mobile/lib/screens/menu-screen.dart
  mobile/pubspec.lock
Due: none

Revert "Added header+footer+drawer+refactored+profile icon+Cleaned interface"
  mobile/lib/screens/menu-screen.dart
  mobile/pubspec.lock
Due: none

little debug
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

generalisation of the player rejection logic
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

finished rejection on server
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

generalised quit room method from desktop client
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

bug
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

Implementation of letter placement validation
  mobile/lib/components/board-widget.dart
  mobile/lib/components/letter-widget.dart
  mobile/lib/domain/services/game-service.dart
Due: none

Circular button for chat
  mobile/lib/screens/menu-screen.dart
Due: none

changed how the players are rejected
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed a unusefull validation
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

adapted UI and started adding images
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.scss
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed some bugs for the placement validation
  mobile/lib/components/easel-widget.dart
  mobile/lib/domain/models/board-models.dart
  mobile/lib/domain/services/game-service.dart
Due: none

Fix other bug about letter drag cancelation
  mobile/lib/components/board-widget.dart
  mobile/lib/components/easel-widget.dart
  mobile/lib/domain/services/game-service.dart
Due: none

interface definitions
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added an http get request to know available game rooms
  server/app/app.ts
  server/app/controllers/game-room.controller.ts
Due: install:server, lint:server, build:server, test:server

made GameScrabbleInformation interface common
  common/interfaces/game-scrabble-information.ts
Due: none

addded the PlayerRoomInfo interface
  common/interfaces/player-room-info.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

switch all players reference with names to IUser for better handling of same username
  desktop/src/app/interfaces/game-parameters.ts
  desktop/src/app/interfaces/game-room-client.ts
  desktop/src/app/interfaces/room-information.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/interfaces/game-parameters.ts
  server/app/interfaces/game-room.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

added the usage of the http get request to know the available rooms
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

some formatting
  desktop/src/app/services/dictionary.service.ts
  server/app/services/games-management/games-handler.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

removed useless subjects and replaced them with variables or local behaviors
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

applied the last changes in the components
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

updated the pages with the new waiting rooms behavior with pictures
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

formatting and removed a magic number
  common/constants/players.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Added dropdown for themes and user
  mobile/lib/screens/menu-screen.dart
Due: none

Added language settings + refactored a bit
  mobile/lib/components/language-dropdown-widget.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Removed language from themesSettings bar
  mobile/lib/components/settings-widget.dart
Due: none

multiplayer join page look
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.scss
  desktop/src/app/services/snack-bar.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

called exit room when user presses back button
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

lint
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

other adaptation of the string player reference to IUser
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop
