Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

Added message on socket disconnection
  server/app/services/socket/socket-manager.service.ts
Due: install:server, lint:server, build:server, test:server

Added compatibility for web interface and tauri socket connection
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/main.rs
  desktop/src/app/services/communication/client-socket.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed sticky error message
  desktop/src/app/components/import-dictionary/import-dictionary.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Updated the configs
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/main.rs
  desktop/src-tauri/tauri.conf.json
  desktop/tauri-dev.conf.json
  desktop/tauri-live-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

switched playerName field to FormControl
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added an event to notify when client already connected
  common/constants/socket-events.ts
  desktop/src-tauri/src/main.rs
  desktop/src/app/components/chatbox/chatbox.component.ts
  desktop/src/app/models/chat-command.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/services/chat/chatbox-handler.service.ts
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

added events for when socket connection crashes on rust backend
  desktop/src-tauri/src/main.rs
  desktop/src/app/models/rust-command.ts
  desktop/src/app/models/rust-socket-command.ts
  desktop/src/app/services/communication/client-socket.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Moved the login form into a seperate screen
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/end-game-screen.dart
  mobile/lib/screens/game-screen.dart
  mobile/lib/screens/login-screen.dart
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/profile-screen.dart
  mobile/lib/screens/room-selection-screen.dart
  mobile/lib/screens/signin-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

Added signin screen and refactored the login screen
  mobile/lib/screens/login-screen.dart
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/signin-screen.dart
Due: none

Added game creatio screen
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/menu-screen.dart
Due: none

removed unecessary css from app-root
  desktop/src/style.css
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added classic dark and light theme files
  desktop/src/themes/classic-dark.scss
  desktop/src/themes/classic-light.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added a theme service and attempted integrating it
  desktop/angular.json
  desktop/src/app/app.component.ts
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/theme.service.spec.ts
  desktop/src/app/services/theme.service.ts
  desktop/src/index.html
  desktop/src/themes/classic-dark.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added TODOs for main-page ts file
  desktop/src/app/pages/main-page/main-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Revert "added a theme service and attempted integrating it"
  desktop/angular.json
  desktop/src/app/app.component.ts
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/theme.service.spec.ts
  desktop/src/app/services/theme.service.ts
  desktop/src/index.html
  desktop/src/themes/classic-dark.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Revert "added classic dark and light theme files"
  desktop/src/themes/classic-dark.scss
  desktop/src/themes/classic-light.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Revert "removed unecessary css from app-root"
  desktop/src/style.css
Due: install:desktop, lint:desktop, build:desktop, test:desktop

created snackbar service
  common/constants/ui-events.ts
  common/models/dictionary-events.ts
  desktop/src/app/app.module.ts
  desktop/src/app/components/admin-dictionaries/admin-dictionaries.component.spec.ts
  desktop/src/app/components/snack-bar/error/error-snack-bar.component.html
  desktop/src/app/components/snack-bar/error/error-snack-bar.component.scss
  desktop/src/app/components/snack-bar/error/error-snack-bar.component.spec.ts
  desktop/src/app/components/snack-bar/error/error-snack-bar.component.ts
  desktop/src/app/components/snack-bar/info/info-snack-bar.component.html
  desktop/src/app/components/snack-bar/info/info-snack-bar.component.scss
  desktop/src/app/components/snack-bar/info/info-snack-bar.component.spec.ts
  desktop/src/app/components/snack-bar/info/info-snack-bar.component.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/dictionary.service.ts
  desktop/src/app/services/snack-bar.service.spec.ts
  desktop/src/app/services/snack-bar.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

lint correction
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/snack-bar.service.spec.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Replaced print for debugPrint and refactor the menu screen
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/main.dart
  mobile/lib/screens/menu-screen.dart
Due: none

modification to themes in scss files
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/themes/classic-dark.scss
  desktop/src/themes/classic-light.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed "this." in html
  desktop/src/app/components/chatbox/chatbox.component.html
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

course code
  desktop/src/app/pages/main-page/main-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

correction d'enum
  server/app/services/database/virtual-players-storage.service.ts
Due: install:server, lint:server, build:server, test:server

handled incompatibility with DB
  common/models/virtual-player-difficulty.ts
  server/app/classes/database-collection.class.ts
Due: install:server, lint:server, build:server, test:server

Added translation modules
  desktop/package-lock.json
  desktop/package.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added room selection screen
  mobile/lib/components/chatbox-widget.dart
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/main.dart
  mobile/lib/screens/chat-screen.dart
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/room-selection-screen.dart
  mobile/pubspec.lock
Due: none

creation of the language service linked with the translate service
  desktop/src/app/app.module.ts
  desktop/src/app/pages/app/app.component.ts
  desktop/src/app/services/language.service.spec.ts
  desktop/src/app/services/language.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added language choices and first translation
  desktop/src/app/models/language-choice.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

applied first translations and created a language selector
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Update en.json
  desktop/src/assets/i18n/en.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added waiting room screen
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/room-selection-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

traduction of all of the main page and switch to camelCase language references
  desktop/src/app/components/footer/footer.component.html
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/components/snack-bar/error/error-snack-bar.component.html
  desktop/src/app/components/snack-bar/info/info-snack-bar.component.html
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/language.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added themes class to contain all themes
  mobile/lib/domain/enums/themes.dart
  mobile/lib/main.dart
Due: none

Added theme service and dynamic theming
  mobile/lib/components/theme-dropdown-widget.dart
  mobile/lib/domain/enums/themes.dart
  mobile/lib/domain/services/theme-service.dart
  mobile/lib/main.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Implemented dynamic mode
  mobile/lib/components/theme-dropdown-widget.dart
  mobile/lib/domain/enums/themes.dart
  mobile/lib/domain/extensions/string-extensions.dart
  mobile/lib/domain/services/theme-service.dart
  mobile/lib/main.dart
Due: none

Refactored
  mobile/lib/components/theme-dropdown-widget.dart
  mobile/lib/domain/enums/themes.dart
  mobile/lib/domain/services/theme-service.dart
  mobile/lib/main.dart
Due: none

Fixed minor bug
  mobile/lib/domain/enums/themes.dart
  mobile/lib/domain/services/theme-service.dart
Due: none
