Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

install:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    - desktop/.npm/
    policy: pull-push
  stage: install
  script:
  - cd desktop
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:desktop
  allow_failure: true
  script:
  - cd desktop
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

build:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: build
  needs:
  - install:desktop
  script:
  - cd desktop
  - npm run build
  artifacts:
    paths:
    - desktop/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

test:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: test
  needs:
  - install:desktop
  image: registry.gitlab.com/nikolayradoev/docker-images/chrome-mongo-node:20223
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd desktop
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  artifacts:
    paths:
    - server/coverage/

updated all the remaining http requests to rust
  desktop/src/app/components/admin-dictionaries/admin-dictionaries.component.ts
  desktop/src/app/components/admin-game-history/admin-game-history.component.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/dictionary-verification.service.ts
  desktop/src/app/services/dictionary.service.ts
  desktop/src/app/services/high-scores.service.ts
  desktop/src/app/services/virtual-players.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed an unused command and some prints
  desktop/src-tauri/src/main.rs
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed more prints
  desktop/src-tauri/src/main.rs
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added toggle for char on game-page, needs debugging
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/pages/game-page/game-page.component.html
  desktop/src/app/pages/game-page/game-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

moved chat toggle to right side of page
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

game-page ui debugged
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added average points per game and average time per game
  common/interfaces/user-stats.ts
  server/app/services/database/account-storage.service.ts
  server/app/services/database/user-stats-storage.service.ts
Due: install:server, lint:server, build:server, test:server

more changes to game page ui
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
  desktop/src/app/pages/game-page/game-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added updatescore when abandon
  common/interfaces/game-history-info.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

added updatePlayersStats when game is finished
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

fixed bugs
  common/interfaces/user-stats.ts
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:server, lint:server, build:server, test:server

more ui bug fixes
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed avatar error on menu screen
  mobile/lib/domain/services/auth-service.dart
Due: none

Added avatar + changed stats to rich text
  mobile/lib/screens/profile-screen.dart
  mobile/lib/screens/user-profile-screen.dart
Due: none

Moved histories fetch to userService
  mobile/lib/domain/services/user-service.dart
  mobile/lib/screens/user-profile-screen.dart
Due: none

Translated user profile
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/screens/user-profile-screen.dart
Due: none

Implemented structure of service for profile
  mobile/lib/domain/models/user-profile-models.dart
  mobile/lib/domain/services/user-service.dart
Due: none

Finished structure of service - awaiting server implementations
  mobile/lib/domain/services/user-service.dart
  mobile/lib/screens/user-profile-screen.dart
Due: none

modify userstats interface
  common/interfaces/user-stats.ts
Due: none

update interface
  common/interfaces/user-stats.ts
Due: none

Added snackbar to display modification status
  mobile/lib/domain/services/user-service.dart
  mobile/lib/screens/user-settings-screen.dart
Due: none

added isWinner parameter to addUserEventHistory method
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

added accountStorageService to game-state service
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

added addGameEventHistory in game state service
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

update interface fields name
  common/interfaces/user-stats.ts
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

delete unuse lines in game state
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

updated user-stats service
  server/app/services/database/user-stats-storage.service.ts
Due: install:server, lint:server, build:server, test:server

add get user games history controller route
  server/app/controllers/user-profile.controller.ts
  server/app/services/database/history-storage.service.ts
Due: install:server, lint:server, build:server, test:server

remove console log from merge dev
  server/app/services/games-management/game-validation.service.ts
  server/app/services/games-management/games-actions.service.ts
Due: install:server, lint:server, build:server, test:server

now adding gameHistoryEvent for each player at the end of the game
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

changed expiry time of presigned url to 1 week
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

added route to get bot image
  server/app/controllers/profile-picture.controller.ts
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:server, lint:server, build:server, test:server

fixed import bug
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

removed done todo
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:server, lint:server, build:server, test:server

modified historyEvent date attribute to now be a string
  common/interfaces/history-event.ts
Due: none

added momentJS library in order to convert Date object to a specific string format
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, build:server, test:server

using moment library to create a formatted date when creating a HistoryEvent in account storage service
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

réparation de la connexion socket avec https
  desktop/src-tauri/src/main.rs
  desktop/src/app/models/rust-command.ts
  desktop/src/app/pages/app/app.component.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/game-configuration.service.ts
  desktop/src/app/services/tauri-state.service.spec.ts
  desktop/src/app/services/tauri-state.service.ts
  server/app/server.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

changes interface field namw
  common/interfaces/user-stats.ts
  server/app/services/client-utilities/player-score.service.ts
  server/app/services/database/account-storage.service.ts
  server/app/services/database/user-stats-storage.service.ts
Due: install:server, lint:server, build:server, test:server

ajustements de config et de console.log
  desktop/src-tauri/src/main.rs
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/tauri-live-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*
