Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

added local username variable in the res when verifying the jwt token
  server/app/middlewares/token-verification-middleware.ts
Due: install:server, lint:server, build:server, test:server

delete to post small typo
  server/app/controllers/authentification.controller.ts
Due: install:server, lint:server, build:server, test:server

added accountStorageService to profile-picture router
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

started implementing method to manage the request to get signedURL from DB
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

implemented get request to get image, no need to store signedURL in DB, its better to create a new one
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

implemented method in account-storage service to get image information
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

changed method name
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

made the game board dynamic
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/game-board/game-board.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Adjusted the play area for drag and drop compatibility
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

changed the game rack to work with the board
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/components/player-rack/player-rack.component.scss
  desktop/src/app/components/player-rack/player-rack.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

interfaces and enums refactoring
  common/interfaces/letter.ts
  common/models/alphabet-letter.ts
  desktop/src/app/constants/board-view.ts
  desktop/src/app/interfaces/board-tile-info.ts
  desktop/src/app/models/placing-state.ts
  desktop/src/app/models/play-direction.ts
  server/app/constants/letter-reserve.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

big refactoring of the interface logic
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

added controls for playing mode and some safety checks
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

added check for the second letter placed by hand
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

basic letter return from board and new fancy arrows
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/interfaces/selection-position.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

handled bugs with ui behavior
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/components/player-rack/player-rack.component.scss
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor modifications + implemented PUT route to modifiy and upload new profile picture
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

implemented account storage method to update profile picture fields in DB and modified getProfilePicInfo method
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

common interfaces imageInfo and User modified
  common/interfaces/image-info.ts
  common/interfaces/user.ts
Due: none

refactor + method to store ImageKey + method to update image to Default in DB
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

error handling and new Patch route to change image to a Default one
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

Ajout du pointage des lettres
  mobile/lib/components/letter-widget.dart
  mobile/lib/domain/enums/letter-enum.dart
Due: none

debugged the board sticky letter
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/game-board/game-board.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

debugged placement arrows and drag undo behavior
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/player-rack/player-rack.component.scss
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

privatized variables and removed debugging buttons
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Pretty much completed the easel widget for mobile
  mobile/lib/components/easel-widget.dart
  mobile/lib/components/letter-widget.dart
  mobile/lib/domain/models/easel-model.dart
  mobile/lib/domain/services/game-service.dart
Due: none

Changed board contour
  mobile/lib/components/board-widget.dart
  mobile/lib/components/letter-widget.dart
Due: none

change profile picture routes syntax
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

Added a ghost letter for when dragging on top of a board tile
  mobile/lib/components/board-widget.dart
  mobile/lib/components/easel-widget.dart
  mobile/lib/components/letter-widget.dart
Due: none

linting
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.ts
  desktop/src/app/components/game-board/game-board.component.spec.ts
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/constants/board-view.ts
  desktop/src/app/directives/custom-validators.ts
  desktop/src/app/pages/connection-page/connection-page.component.spec.ts
  desktop/src/app/pages/user-creation-page/user-creation-page.component.spec.ts
  desktop/src/app/services/letter-placement.service.ts
  desktop/src/app/services/user.service.ts
  server/app/controllers/authentification.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

added cookie send when connecting to socket
  desktop/src-tauri/src/main.rs
  desktop/src/app/services/communication/app-cookie.service.ts
  desktop/src/app/services/communication/client-socket.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

refactor of image upload controller and acocunt storage service
  server/app/controllers/profile-picture.controller.ts
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

language service is in footer instead of header
  desktop/src/app/components/footer/footer.component.html
  desktop/src/app/components/footer/footer.component.ts
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

deleted hard-coded colors in css
  desktop/src/app/components/admin-dictionaries/admin-dictionaries.component.scss
  desktop/src/app/components/admin-game-history/admin-game-history.component.scss
  desktop/src/app/components/admin-virtual-players/admin-virtual-players.component.scss
  desktop/src/app/components/chatbox/chatbox.component.scss
  desktop/src/app/components/dialog-box-abandon-game/dialog-box-abandon-game.component.scss
  desktop/src/app/components/dialog-box-game-type/dialog-box-game-type.component.scss
  desktop/src/app/components/dialog-box-high-scores/dialog-box-high-scores.component.scss
  desktop/src/app/components/dialog-box-modify-bot-names/dialog-box-modify-bot-names.component.scss
  desktop/src/app/components/footer/footer.component.scss
  desktop/src/app/components/generic-chat/generic-chat.component.scss
  desktop/src/app/components/header/header.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

cleaned home page
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed open chat button
  desktop/src/app/pages/main-page/main-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed notes
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

typo
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed deprecate condition
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

lint
  desktop/src/app/services/communication/app-cookie.service.ts
  desktop/src/app/services/communication/client-socket.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server
