Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

install:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    - desktop/.npm/
    policy: pull-push
  stage: install
  script:
  - cd desktop
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:desktop
  allow_failure: true
  script:
  - cd desktop
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

build:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: build
  needs:
  - install:desktop
  script:
  - cd desktop
  - npm run build
  artifacts:
    paths:
    - desktop/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

test:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: test
  needs:
  - install:desktop
  image: registry.gitlab.com/nikolayradoev/docker-images/chrome-mongo-node:20223
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd desktop
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  artifacts:
    paths:
    - server/coverage/

Added account management use cases
  doc/LOG3900-110_Architecture_Logiciel.md
Due: none

Changed name of application on mobile
  mobile/android/app/src/main/AndroidManifest.xml
Due: none

Fixed server event mistake
  server/app/services/client-utilities/home-chatbox-handler.service.ts
Due: install:server, lint:server, build:server, test:server

correction de l'envoi de messages et ajustements UX
  desktop/src/app/components/generic-chat/generic-chat.component.ts
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Ajout de LinkedIn et nom d'utilisateur en gras
  desktop/src/app/components/footer/footer.component.html
  desktop/src/app/components/generic-chat/generic-chat.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

More UX and a button to send a message
  desktop/src/app/components/generic-chat/generic-chat.component.html
  desktop/src/app/components/generic-chat/generic-chat.component.scss
  desktop/src/app/components/generic-chat/generic-chat.component.ts
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Formatting of the chat interface
  desktop/src/app/components/generic-chat/generic-chat.component.html
  desktop/src/app/components/generic-chat/generic-chat.component.scss
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

ajustement UI
  desktop/src/app/components/generic-chat/generic-chat.component.scss
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Changed name again to PolyScrabble
  mobile/android/app/src/main/AndroidManifest.xml
Due: none

correction pour le déploiement live
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/environments/environment.live.ts
  desktop/src/environments/environment.prod.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Changed 12h --> to 24h in timeStamp
  mobile/lib/domain/models/chat-models.dart
  mobile/lib/domain/services/chat-service.dart
Due: none

corrections CSS finales
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added several use case diagrams
  doc/LOG3900-110_Architecture_Logiciel.md
Due: none

changes to game use case diagram
  doc/LOG3900-110_Architecture_Logiciel.md
Due: none

Reset of messages when disconnecting
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

electron ça marche fuck
  .gitignore
  .vscode/settings.json
  desktop/main.js
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/main.rs
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/tauri-live-dev.conf.json
  package.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

more diagrams added
  doc/LOG3900-110_Architecture_Logiciel.md
Due: none

Fixed footer for desktop
  desktop/src/app/components/footer/footer.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fix de largeur de chat
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

more UML
  doc/LOG3900-110_Architecture_Logiciel.md
Due: none

fixed constants link
  desktop/src/app/components/admin-virtual-players/admin-virtual-players.component.ts
  desktop/tsconfig.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

linted desktop
  desktop/src/app/components/admin-game-history/admin-game-history.component.ts
  desktop/src/app/components/chatbox/chatbox.component.ts
  desktop/src/app/components/generic-chat/generic-chat.component.spec.ts
  desktop/src/app/components/import-dictionary/import-dictionary.component.ts
  desktop/src/app/components/play-area/play-area.component.spec.ts
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/pages/main-page/main-page.component.spec.ts
  desktop/src/app/pages/multiplayer-create-page/multiplayer-create-page.component.spec.ts
  desktop/src/app/pages/multiplayer-create-page/multiplayer-create-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.spec.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/chat/time.service.spec.ts
  desktop/src/app/services/communication/http-handler.service.spec.ts
  desktop/src/app/services/dictionary-verification.service.ts
  desktop/src/app/services/dictionary.service.ts
  desktop/src/app/services/high-scores.service.ts
  desktop/src/app/services/user.service.spec.ts
  desktop/src/app/services/virtual-players.service.ts
  desktop/tsconfig.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed server build
  server/app/classes/trie/letter-tree.class.ts
  server/app/server.ts
  server/nodemon.json
  server/tsconfig.app.json
  server/tsconfig.json
Due: install:server, lint:server, build:server, test:server

lint server
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  server/app/services/client-utilities/home-chatbox-handler.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Update package-lock.json
  server/package-lock.json
Due: install:server, lint:server, build:server, test:server

Update environment.ts
  desktop/src/environments/environment.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

reactivated tauri window in dev compilation mode
  desktop/tauri-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Cleanup of method names and calls, enums and constants
  common/constants/ui-events.ts
  common/models/game-difficulty.ts
  common/models/game-time-options.ts
  desktop/src/app/pages/game-page/game-page.component.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/multiplayer-create-page/multiplayer-create-page.component.html
  desktop/src/app/pages/multiplayer-create-page/multiplayer-create-page.component.spec.ts
  desktop/src/app/pages/multiplayer-create-page/multiplayer-create-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

refactor of multiplayer join page and waiting opponent page
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Renamed game creation page component
  desktop/src/app/app.module.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.scss
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.spec.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Centralisation of all router links
  desktop/src/app/components/dialog-box-abandon-game/dialog-box-abandon-game.component.spec.ts
  desktop/src/app/components/dialog-box-abandon-game/dialog-box-abandon-game.component.ts
  desktop/src/app/components/dialog-box-game-type/dialog-box-game-type.component.ts
  desktop/src/app/components/header/header.component.spec.ts
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/components/information-panel/information-panel.component.spec.ts
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/models/app-routes.ts
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/pages/game-page/game-page.component.spec.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.spec.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.spec.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  workspace.code-workspace
Due: install:desktop, lint:desktop, build:desktop, test:desktop

correction of bad links and reenabling of old buttons
  desktop/src/app/components/dialog-box-game-type/dialog-box-game-type.component.html
  desktop/src/app/components/dialog-box-game-type/dialog-box-game-type.component.ts
  desktop/src/app/components/dialog-box-high-scores/dialog-box-high-scores.component.html
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.spec.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.spec.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

refactored time handling
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/constants/time.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/chat/time.service.spec.ts
  desktop/src/app/services/chat/time.service.ts
  desktop/src/app/services/time.service.spec.ts
  desktop/src/app/services/time.service.ts
  desktop/src/app/services/timer.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed anonym objects and dictionary verification service
  common/constants/dictionary.ts
  common/interfaces/bot-name-switcher.ts
  common/models/dictionary-events.ts
  common/models/file-errors.ts
  common/models/http-status.ts
  desktop/src/app/components/import-dictionary/import-dictionary.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/dictionary-verification.service.ts
  desktop/src/app/services/dictionary.service.ts
  desktop/src/app/services/virtual-players.service.ts
  server/app/controllers/dictionary.controller.ts
  server/app/services/database/dictionary-storage.service.ts
  server/app/services/database/virtual-players-storage.service.spec.ts
  server/app/services/database/virtual-players-storage.service.ts
  server/app/services/games-management/games-handler.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

attempts at refactoring dictionary http method
  common/models/dictionary-events.ts
  common/models/file-errors.ts
  common/models/http-status.ts
  desktop/src/app/components/import-dictionary/import-dictionary.component.ts
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/dictionary-verification.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

correction of the dictionary importing refactoring
  common/models/dictionary-events.ts
  desktop/src/app/components/import-dictionary/import-dictionary.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/dictionary-verification.service.ts
  server/app/controllers/dictionary.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

removed console.log
  desktop/src/app/components/import-dictionary/import-dictionary.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

last refactoring of dictionary importation
  common/models/file-errors.ts
  common/models/file-status.ts
  desktop/src/app/components/import-dictionary/import-dictionary.component.html
  desktop/src/app/components/import-dictionary/import-dictionary.component.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Update tauri-dev.conf.json
  desktop/tauri-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

tauri socketio backend
  .gitignore
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/main.rs
  desktop/src/app/models/rust-socket-command.ts
  desktop/src/app/pages/app/app.component.ts
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/tauri-dev.conf.json
  target/.rustc_info.json
  target/CACHEDIR.TAG
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*
