Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

changed the gameRoom container to a list
  common/interfaces/game-room.ts
  server/app/constants/rooms.ts
  server/app/services/client-utilities/game-sessions.service.spec.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

removed old code
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

added new interfaces for game room state and mode
  common/interfaces/game-room.ts
  common/models/game-mode.ts
  common/models/game-room-state.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.spec.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

removed the sending of objectives to the clients
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

start of refactor end game logic
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

first attempt at synthesizing the gameCreation method
  common/constants/socket-events.ts
  common/interfaces/public-view-update.ts
  desktop/src/app/services/game-client.service.spec.ts
  desktop/src/app/services/game-client.service.ts
  server/app/classes/game.class.ts
  server/app/services/client-utilities/home-chatbox-handler.service.ts
  server/app/services/games-management/games-actions.service.spec.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

changed the usage of IUsers in game rooms for RoomPlayers
  common/interfaces/game-creation-query.ts
  common/interfaces/game-room.ts
  common/interfaces/join-game-query.ts
  common/interfaces/room-player.ts
  desktop/src/app/interfaces/game-room-client.ts
  desktop/src/app/interfaces/room-information.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.spec.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

repaired desktop
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

some tweaking
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

adapted join page interface
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added a condition not to send private game rooms
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

Finished base interface
  mobile/lib/screens/menu-screen.dart
Due: none

changed PlayerJoinGameAvailable event to JoinGameRoom
  common/constants/socket-events.ts
  desktop/src/app/services/game-configuration.service.spec.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.spec.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

changed how to join a random room
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

changed the state type of room-informations
  common/models/game-mode.ts
  common/models/game-visibility.ts
  desktop/src/app/interfaces/room-information.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added interface for highscores
  mobile/lib/domain/models/high-score-model.dart
  mobile/lib/domain/services/http-handler-service.dart
Due: none

Linked request to futurebuilder
  mobile/lib/components/high-scores-widget.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Added translation
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/high-scores-widget.dart
Due: none

Finished translation
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/high-scores-widget.dart
  mobile/lib/screens/menu-screen.dart
Due: none

moved the socketIds references from gameroom to the players
  common/interfaces/game-room.ts
  common/interfaces/room-player.ts
Due: none

renamed join-game-query to user-room-query
  common/interfaces/user-room-query.ts
Due: none

added a null gamemode for edge cases
  common/models/game-mode.ts
Due: none

replaced exitRoom() method for server ones
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/game-configuration.service.spec.ts
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

references changes for roomInformation refactoring
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

renamed some socket events
  common/constants/socket-events.ts
Due: none

removed the isCreator var from roomInformations to set it in the player metadata
  desktop/src/app/interfaces/room-information.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

changed how games are initialized from the frontend
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

refactored roomInformations to be a localGameRoom reference copy for easier access by the clients
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

hard to describe, so many changes, the game-session service is now somewhat readable
  server/app/constants/rooms.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

updated how players are kicked from rooms
  common/constants/socket-events.ts
  desktop/src/app/services/communication/client-socket.service.ts
  desktop/src/app/services/game-configuration.service.spec.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.spec.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

made so the session_token is deleted when loading the app. That was breaking the behavior of the socket map on the server
  desktop/src/app/pages/app/app.component.ts
  desktop/src/app/services/communication/app-cookie.service.ts
  desktop/src/app/services/communication/client-socket.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

removed console.log
  server/app/services/socket/socket-manager.service.ts
Due: install:server, lint:server, build:server, test:server

refactor avatar list widget
  mobile/lib/components/avatar-selector-widget.dart
Due: none

Fixed minor bug
  mobile/lib/domain/services/http-handler-service.dart
Due: none

add score limits
  server/app/constants/score.ts
  server/app/services/client-utilities/player-score.service.ts
Due: install:server, lint:server, build:server, test:server

fixed bug when inactiveplayer abandon game
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Implemented widget returns image in callback
  mobile/lib/components/avatar-selector-widget.dart
Due: none

moved the joining room id constant
  common/constants/room.ts
  server/app/constants/rooms.ts
Due: install:server, lint:server, build:server, test:server

refactored socket connection with rust
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
Due: install:desktop, lint:desktop, build:desktop, test:desktop

with the last commit
  desktop/src-tauri/src/main.rs
Due: install:desktop, lint:desktop, build:desktop, test:desktop
