Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

changed a condition and sent the cookie with http login
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src/app/services/communication/app-cookie.service.ts
  desktop/src/app/services/communication/http-handler.service.ts
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

added empty icon if no profile picture
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

lint
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/interfaces/dictionary-container.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

added chatRooms list field to IUser
  common/interfaces/user.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

deleted dead code
  desktop/src/styles.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

We now receive and process PublicViewUpdate event on mobile
  mobile/development.env
  mobile/lib/domain/enums/letter-enum.dart
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/models/board-models.dart
  mobile/lib/domain/models/easel-model.dart
  mobile/lib/domain/models/game-command-models.dart
  mobile/lib/domain/services/game-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/create-game-screen.dart
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

added https server and certificates
  server/app/certs/myCA.key
  server/app/certs/myCA.pem
  server/app/server.ts
Due: install:server, lint:server, build:server, test:server

updated the port
  server/app/server.ts
Due: install:server, lint:server, build:server, test:server

Cleaned up all the codebase
  mobile/lib/components/avatar-selector-widget.dart
  mobile/lib/components/board-widget.dart
  mobile/lib/components/chatbox-widget.dart
  mobile/lib/components/easel-widget.dart
  mobile/lib/components/high-scores-widget.dart
  mobile/lib/components/letter-widget.dart
  mobile/lib/components/login-widget.dart
  mobile/lib/components/recaptcha-widget.dart
  mobile/lib/components/settings-widget.dart
  mobile/lib/components/theme-dropdown-widget.dart
  mobile/lib/components/theme-settings-widget.dart
  mobile/lib/domain/classes/snackbar-factory.dart
  mobile/lib/domain/models/board-models.dart
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/game-screen.dart
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/room-selection-screen.dart
  mobile/lib/screens/waiting-room-screen.dart
Due: none

testing transition to tauri's http API to see if this works better
  desktop/src-tauri/Cargo.lock
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/environments/environment.live.ts
  desktop/tauri-live-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

updated the SSL certificate and key to not use passwords
  desktop/angular.json
  desktop/certs/client.key
  desktop/certs/client.pem
  desktop/certs/server.key
  desktop/certs/server.pem
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/tauri-dev.conf.json
  myCA.key
  myCA.pem
  server.key
  server.pem
  server/app/certs/server.key
  server/app/certs/server.pem
  server/app/server.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

test with rust
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/main.rs
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Correct implementation to find creator
  mobile/lib/screens/room-selection-screen.dart
Due: none

Lobby differentiates between players
  mobile/lib/domain/models/iuser-model.dart
  mobile/lib/screens/room-selection-screen.dart
Due: none

Added indicator of room visibility
  mobile/lib/screens/room-selection-screen.dart
Due: none

Marty! Maybe this time it will work!
  desktop/angular.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/main.rs
  desktop/src/app/pages/connection-page/connection-page.component.html
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/tauri-dev.conf.json
  server/app/controllers/authentification.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

I DID IT MARTY IT WORKS
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/main.rs
  desktop/src/environments/environment.ts
  desktop/tauri-live-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

seperated sub from build in main
  mobile/lib/main.dart
Due: none

Added password logic + interface
  mobile/lib/domain/models/room-model.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/room-selection-screen.dart
Due: none

Added url pull of image on login
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/http-handler-service.dart
Due: none

refactor save score
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

added todo to change username to id
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

spread rust over the login http request
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/rustfmt.toml
  desktop/src-tauri/src/main.rs
  desktop/src/app/pages/connection-page/connection-page.component.html
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
  server/app/controllers/authentification.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Update .gitignore
  desktop/src-tauri/.gitignore
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added profile icon on main menu
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Added error messages
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/room-selection-screen.dart
Due: none

Historique et quelques modifications
  common/interfaces/history-event.ts
  common/interfaces/theme.ts
  common/interfaces/user.ts
  common/models/history-actions.ts
  desktop/src/app/services/user.service.ts
  server/app/constants/profile-pictures.ts
  server/app/controllers/authentification.controller.ts
  server/app/controllers/profile-picture.controller.ts
  server/app/controllers/user-profile.controller.ts
  server/app/middlewares/token-verification-middleware.ts
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/database/account-storage.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

add to check if user is a player
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Changed server errors sent
  common/constants/server-errors.ts
  server/app/services/client-utilities/waiting-room.service.ts
Due: install:server, lint:server, build:server, test:server

Changed error parsing on desktop
  desktop/src/app/services/game-configuration.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Implemented server error parsing on mobile
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/domain/enums/server-errors-enum.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/room-selection-screen.dart
Due: none

Translated password + added Interface to join room with id
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/room-selection-screen.dart
Due: none

Translated interface for joining with id
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/screens/room-selection-screen.dart
Due: none

Translated + room ID logic
  mobile/lib/domain/services/room-service.dart
  mobile/lib/screens/room-selection-screen.dart
Due: none

Translated table labels
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/screens/room-selection-screen.dart
Due: none

Skipping turns and ending game now works
  common/interfaces/game-history-info.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  mobile/development.env
  mobile/lib/components/game-info-widget.dart
  mobile/lib/domain/enums/socket-events-enum.dart
  mobile/lib/domain/models/game-command-models.dart
  mobile/lib/domain/models/iuser-model.dart
  mobile/lib/domain/services/game-service.dart
  server/app/classes/game.class.ts
  server/app/classes/turn.class.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Placing word now works
  mobile/lib/domain/models/game-command-models.dart
  mobile/lib/domain/services/game-service.dart
  server/app/classes/game.class.spec.ts
  server/app/classes/game.class.ts
  server/app/classes/letter-placement.class.spec.ts
  server/app/classes/letter-placement.class.ts
  server/app/classes/player/beginner-bot.class.ts
  server/app/classes/player/bot.class.spec.ts
  server/app/classes/player/bot.class.ts
  server/app/classes/player/expert-bot.class.spec.ts
  server/app/classes/player/expert-bot.class.ts
  server/app/classes/player/real-player.class.spec.ts
  server/app/classes/player/real-player.class.ts
  server/app/classes/player/score-related-bot.class.ts
  server/app/classes/turn.class.ts
  server/app/interfaces/word-placement-result.ts
  server/app/services/games-management/game-validation.service.ts
  server/app/services/games-management/games-actions.service.spec.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-handler.service.ts
  server/app/services/games-management/games-state.service.ts
  server/app/services/rack.service.ts
Due: install:server, lint:server, build:server, test:server

Added screens for user profile + settings + added service and base structure for user profile
  mobile/lib/domain/services/user-service.dart
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/user-profile-screen.dart
  mobile/lib/screens/user-settings-screen.dart
Due: none

Added indicator widget for graph
  mobile/lib/components/indicator-widget.dart
Due: none

Implementaded base for statistics and histories in user profile
  mobile/lib/screens/user-profile-screen.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none
