Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

install:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    - desktop/.npm/
    policy: pull-push
  stage: install
  script:
  - cd desktop
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:desktop
  allow_failure: true
  script:
  - cd desktop
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

build:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: build
  needs:
  - install:desktop
  script:
  - cd desktop
  - npm run build
  artifacts:
    paths:
    - desktop/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

test:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: test
  needs:
  - install:desktop
  image: registry.gitlab.com/nikolayradoev/docker-images/chrome-mongo-node:20223
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd desktop
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  artifacts:
    paths:
    - server/coverage/

added debugging changes to facilitate the creation of the game board
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/pages/game-page/game-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

UI Done
  mobile/lib/screens/signin-screen.dart
Due: none

added email, password and username validators
  mobile/lib/screens/signin-screen.dart
Due: none

little string modif
  mobile/lib/screens/signin-screen.dart
Due: none

Created the base for the new game board
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/constants/board-tiles.ts
  desktop/src/app/models/board-tile-type.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

moved the new game board in its own component
  desktop/src/app/app.module.ts
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/game-board/game-board.component.spec.ts
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/constants/board-tiles.ts
  desktop/src/app/interfaces/board-tile-info.ts
  desktop/src/app/models/board-tile.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

rearranged the game ui
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

work on the new board look
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/interfaces/board-tile-info.ts
  desktop/src/app/models/alphabet-letter.ts
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed resgisterform overflow bug
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/signin-screen.dart
  mobile/lib/screens/signup-screen.dart
  mobile/pubspec.lock
Due: none

setup route and controller for profile picture upload
  server/app/app.ts
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

Finished login interface
  mobile/lib/components/login-widget.dart
  mobile/lib/components/register-widget.dart
  mobile/lib/screens/login-screen.dart
Due: none

Replaced interfaces to have placeholders instead of labels
  mobile/lib/screens/login-screen.dart
  mobile/lib/screens/signup-screen.dart
Due: none

small refactoring of game creation page
  common/models/game-difficulty.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.scss
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

downloaded multer library
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, build:server, test:server

implemented multer middleware to manage file upload
  server/app/middlewares/multer-middleware.ts
Due: install:server, lint:server, build:server, test:server

added imageUpload middleware to post route
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

Added service for http requests
  mobile/lib/domain/services/http-handler-service.dart
  mobile/lib/main.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

Added http service
  mobile/development.env
  mobile/lib/domain/services/http-handler-service.dart
  mobile/lib/main.dart
Due: none

Refactored auth + Added Signin Request
  mobile/lib/components/login-widget.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/screens/menu-screen.dart
Due: none

Fixed login overflow
  mobile/lib/screens/login-screen.dart
Due: none

added game room visibility + password feature
  common/interfaces/join-game-room-parameters.ts
  server/app/interfaces/game-parameters.ts
  server/app/interfaces/game-room.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

drag and drop works in the player board
  desktop/angular.json
  desktop/package-lock.json
  desktop/package.json
  desktop/src/app/app.module.ts
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/components/player-rack/player-rack.component.scss
  desktop/src/app/components/player-rack/player-rack.component.spec.ts
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/services/game-client.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added aws-sdk-s3 library to package.json
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, build:server, test:server

s3 client configuration, handling upload image to store it in S3
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

added uuid string to image key to avoid duplicate override in bucket
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

Added routing on login
  mobile/lib/components/login-widget.dart
  mobile/lib/domain/services/auth-service.dart
Due: none

added game invite by game roomId
  common/constants/socket-events.ts
  common/interfaces/join-game-room-parameters.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

added aws request presigner to sign urls
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, build:server, test:server

fixed signed_URL error by adding getCommand
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

added uuid to generate random string for file name in bucket to avoid overriding
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

added todos
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

created FileRequest interface to handle invalid file types errors
  server/app/interfaces/file-request.ts
Due: install:server, lint:server, build:server, test:server

added express error handling middleware to catch Multer Errors
  server/app/app.ts
Due: install:server, lint:server, build:server, test:server

handling invalid file type error in post request
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

modified multer middleware to handle file types errors
  server/app/middlewares/multer-middleware.ts
Due: install:server, lint:server, build:server, test:server

added status codes to responses
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

added common ImageInfo interface
  common/interfaces/image-info.ts
Due: none

upload post request sends back response with imageInfo containing bucket object key and signedurl
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

transfered IUser interface to common and modified ImageInfo interface
  common/interfaces/image-info.ts
  common/interfaces/user.ts
Due: none

minor modification
  server/app/controllers/authentification.controller.ts
  server/app/controllers/profile-picture.controller.ts
  server/app/interfaces/user.ts
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*
