Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

install:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    - desktop/.npm/
    policy: pull-push
  stage: install
  script:
  - cd desktop
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:desktop
  allow_failure: true
  script:
  - cd desktop
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

build:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: build
  needs:
  - install:desktop
  script:
  - cd desktop
  - npm run build
  artifacts:
    paths:
    - desktop/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

test:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: test
  needs:
  - install:desktop
  image: registry.gitlab.com/nikolayradoev/docker-images/chrome-mongo-node:20223
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd desktop
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  artifacts:
    paths:
    - server/coverage/

chat ui done?
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/components/dialog-box-create-chat/dialog-box-create-chat.component.html
  desktop/src/app/components/dialog-box-create-chat/dialog-box-create-chat.component.scss
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

ngZone is the single most important thing we never leaned about
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/communication/client-socket.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

bug fix
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

bugfix
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor bug fix
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

started work on cleaning the chat UI
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor changes to profile ui
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.scss
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

ajustement du chat sur la main page
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added config to create account
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

micheal's most recent commit
  desktop/src/app/components/chat/generic-chat/generic-chat.component.html
  desktop/src/app/components/chat/generic-chat/generic-chat.component.scss
  desktop/src/app/components/chat/generic-chat/generic-chat.component.ts
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

apply config on login
  desktop/src/app/services/theme.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

micheals second newest commit
  desktop/src/app/components/header/header.component.html
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.scss
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

autoformat
  desktop/src/app/components/player-rack/player-rack.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Fixed skip not working deskto
  desktop/src/app/components/player-rack/player-rack.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Mobile fixed modes in creating games
  mobile/lib/components/toggle-icon-button.dart
  mobile/lib/screens/create-game-screen.dart
Due: none

Removed password 8 caracters check on desktop
  desktop/src/app/components/dialog-box-password/dialog-box-password.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed useless prints
  mobile/lib/screens/create-game-screen.dart
Due: none

Added id on private rooms in mobile
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/screens/waiting-room-screen.dart
Due: none

added Number of letters left UI in desktop
  desktop/src/app/pages/game-page/game-page.component.html
  desktop/src/app/pages/game-page/game-page.component.scss
  desktop/src/app/pages/game-page/game-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Change difficulty to State
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/screens/room-selection-screen.dart
Due: none

Fixed null error
  mobile/lib/domain/services/chat-service.dart
Due: none

persistance and settings page done
  desktop/src/app/components/footer/footer.component.html
  desktop/src/app/components/footer/footer.component.ts
  desktop/src/app/pages/settings-page/settings-page.component.html
  desktop/src/app/pages/settings-page/settings-page.component.scss
  desktop/src/app/pages/settings-page/settings-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/theme.service.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

persistance update
  desktop/src/app/pages/settings-page/settings-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

big UI modifications - DESKTOP
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/components/information-panel/information-panel.component.scss
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Send winning player on endGame
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Added chat to every page except endGame page
  mobile/lib/domain/services/game-service.dart
  mobile/lib/screens/create-game-screen.dart
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/room-selection-screen.dart
  mobile/lib/screens/user-profile-screen.dart
  mobile/lib/screens/user-settings-screen.dart
Due: none

fixed joiningRoom button state desktop
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fix
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added some safety to the user connection
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/services/language.service.ts
  desktop/src/app/services/theme.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added bots to waiting room when created
  server/app/services/client-utilities/waiting-room.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

moar ngZones for butter smooth stability
  desktop/src/app/services/communication/client-socket.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed available letters counter
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.scss
  desktop/src/app/pages/game-page/game-page.component.html
  desktop/src/app/pages/game-page/game-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

disabled clues once a player places a letter
  desktop/src/app/services/letter-placement.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed profile page rendering
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed the player stat chart
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed user-profile UI
  desktop/src/app/pages/user-profile-page/user-profile-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed footer
  desktop/src/app/components/footer/footer.component.html
  desktop/src/app/components/footer/footer.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

more work on user-profile
  desktop/src/app/pages/user-profile-page/user-profile-page.component.html
  desktop/src/app/pages/user-profile-page/user-profile-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed footer too high
  desktop/src/app/components/footer/footer.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fix background color for waiting page
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*
