Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*

routes debugging
  desktop/src/app/components/dialog-box-abandon-game/dialog-box-abandon-game.component.ts
  desktop/src/app/components/header/header.component.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

tauri changes for new features
  desktop/tauri-dev.conf.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

renamed some socket events
  common/constants/socket-events.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

debugged a condition
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

changed the method links of a template to its find
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

adapted the waiting room to the new architecture
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

adjusted client socket to make it a lot more robust
  desktop/src/app/services/communication/client-socket.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

renaming missing
  desktop/src/app/services/game-configuration.service.spec.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added more responsabilities in the login out of users
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

changed the getSocketId() method to getSocketFromId()
  server/app/services/socket/socket-manager.service.ts
Due: install:server, lint:server, build:server, test:server

refactoring of game-configuration
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Update game-configuration.service.ts
  desktop/src/app/services/game-configuration.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

refactored major behavior methods in the game-session.service
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:server, lint:server, build:server, test:server

Serveur - Modifier les informations de l'utilisateur
  server/app/app.ts
  server/app/controllers/authentification.controller.ts
  server/app/controllers/user-profile.controller.ts
  server/app/services/database/account-storage.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:server, lint:server, build:server, test:server

Score Related Difficulty Bot
  server/app/classes/player/beginner-bot.class.ts
  server/app/classes/player/bot.class.ts
  server/app/classes/player/expert-bot.class.spec.ts
  server/app/classes/player/expert-bot.class.ts
  server/app/classes/player/score-related-bot.class.ts
  server/app/constants/bot.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

refactrored userConnected
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

Fix StreamSubscription initilization and disposal
  mobile/lib/components/board-widget.dart
  mobile/lib/components/easel-widget.dart
Due: none

Fix stash merge conflict and changed board UI size based on screen size
  mobile/lib/components/board-widget.dart
  mobile/lib/components/easel-widget.dart
  mobile/lib/screens/menu-screen.dart
Due: none

renamed some socket events and simplified logic when the new architecture was more efficient
  common/constants/socket-events.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/game-configuration.service.spec.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.spec.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

lint
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/socket/socket-manager.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Fix the widget overflow when screen is horizontal
  mobile/lib/components/board-widget.dart
  mobile/lib/components/easel-widget.dart
Due: none

Forgot the easel bar
  mobile/lib/components/easel-widget.dart
Due: none

build correction
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Avatar widget can talk to parent widget
  mobile/lib/components/avatar-selector-widget.dart
Due: none

Added models and enums
  mobile/lib/domain/enums/image-type-enum.dart
  mobile/lib/domain/models/avatar-data-model.dart
  mobile/lib/domain/models/profile-image-info-model.dart
Due: none

Modified logic to take into account avatar
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/domain/services/avatar-service.dart
  mobile/lib/domain/services/http-handler-service.dart
Due: none

Added Libraries
  mobile/pubspec.yaml
Due: none

added validation for the start game button with real players
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added basic support for virtual players and bots in the waiting room
  common/interfaces/game-creation-query.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.html
  desktop/src/app/pages/waiting-opponent-page/waiting-opponent-page.component.ts
  desktop/src/app/services/game-configuration.service.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/database/virtual-players-storage.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

lint and build
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  server/app/services/client-utilities/game-sessions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Created some interface and renamed some functions and interfaces
  common/interfaces/game-actions.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/command-handler.service.spec.ts
  desktop/src/app/services/command-handler.service.ts
  desktop/src/app/services/game-client.service.ts
  server/app/classes/game.class.spec.ts
  server/app/classes/game.class.ts
  server/app/classes/gameboard.class.ts
  server/app/classes/letter-placement.class.spec.ts
  server/app/classes/letter-placement.class.ts
  server/app/classes/player/beginner-bot.class.spec.ts
  server/app/classes/player/beginner-bot.class.ts
  server/app/classes/player/bot.class.spec.ts
  server/app/classes/player/bot.class.ts
  server/app/classes/player/expert-bot.class.spec.ts
  server/app/classes/player/expert-bot.class.ts
  server/app/classes/player/player.class.ts
  server/app/classes/player/real-player.class.spec.ts
  server/app/classes/player/real-player.class.ts
  server/app/classes/word-solver.class.spec.ts
  server/app/classes/word-solver.class.ts
  server/app/classes/word.class.spec.ts
  server/app/classes/word.class.ts
  server/app/services/games-management/games-actions.service.spec.ts
  server/app/services/games-management/games-actions.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

added save player score on endgame
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

added score field to IUser
  common/interfaces/user.ts
  server/app/services/client-utilities/game-sessions.service.ts
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

save players score in account db
  server/app/services/client-utilities/player-score.service.ts
  server/app/services/database/account-storage.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:server, lint:server, build:server, test:server

lint
  server/app/services/client-utilities/player-score.service.ts
Due: install:server, lint:server, build:server, test:server

Removed dependency on chat command to make game actions
  common/constants/socket-events.ts
  common/interfaces/game-actions.ts
  common/interfaces/game-state.ts
  desktop/src/app/services/chat/chatbox-handler.service.spec.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/command-handler.service.spec.ts
  desktop/src/app/services/command-handler.service.ts
  desktop/src/app/services/game-client.service.ts
  server/app/classes/game.class.spec.ts
  server/app/classes/game.class.ts
  server/app/classes/letter-placement.class.spec.ts
  server/app/classes/letter-placement.class.ts
  server/app/classes/player/beginner-bot.class.spec.ts
  server/app/classes/player/beginner-bot.class.ts
  server/app/classes/player/bot.class.spec.ts
  server/app/classes/player/bot.class.ts
  server/app/classes/player/expert-bot.class.spec.ts
  server/app/classes/player/expert-bot.class.ts
  server/app/classes/player/real-player.class.spec.ts
  server/app/classes/player/real-player.class.ts
  server/app/classes/word-solver.class.spec.ts
  server/app/classes/word-solver.class.ts
  server/app/classes/word.class.spec.ts
  server/app/classes/word.class.ts
  server/app/services/games-management/games-actions.service.spec.ts
  server/app/services/games-management/games-actions.service.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

Forgot minor changes
  common/constants/socket-events.ts
  desktop/src/app/services/game-client.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Implemented key sent to server in a field instead of file
  server/app/controllers/authentification.controller.ts
  server/app/controllers/profile-picture.controller.ts
  server/app/middlewares/multer-middleware.ts
Due: install:server, lint:server, build:server, test:server

Desktop adapt to change
  desktop/src/app/services/communication/http-handler.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Adapted desktop + removed library
  mobile/lib/domain/services/http-handler-service.dart
  mobile/lib/screens/signup-screen.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none
