Repository yasskadd/Scrabble: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

install:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    - desktop/.npm/
    policy: pull-push
  stage: install
  script:
  - cd desktop
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:desktop
  allow_failure: true
  script:
  - cd desktop
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

build:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: build
  needs:
  - install:desktop
  script:
  - cd desktop
  - npm run build
  artifacts:
    paths:
    - desktop/dist/

build:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  needs:
  - install:server
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

test:desktop:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-desktop
    paths:
    - desktop/node_modules/
    policy: pull
  stage: test
  needs:
  - install:desktop
  image: registry.gitlab.com/nikolayradoev/docker-images/chrome-mongo-node:20223
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd desktop
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  artifacts:
    paths:
    - server/coverage/

lint
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.ts
  desktop/src/app/directives/custom-validators.ts
  desktop/src/app/pages/connection-page/connection-page.component.spec.ts
  desktop/src/app/pages/user-creation-page/user-creation-page.component.spec.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

moar lint
  desktop/src/app/pages/user-creation-page/user-creation-page.component.spec.ts
  server/app/controllers/authentification.controller.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

bug fix
  server/app/controllers/profile-picture.controller.ts
  server/app/middlewares/multer-middleware.ts
Due: install:server, lint:server, build:server, test:server

adjusted footer
  desktop/src/app/components/footer/footer.component.html
  desktop/src/app/components/footer/footer.component.scss
  desktop/src/app/pages/main-page/main-page.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

fixed issue background of header and footer
  desktop/src/app/pages/main-page/main-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

minor change to dark theme
  desktop/src/app/pages/app/app.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

commented out unnecessary code
  desktop/src/app/components/header/header.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed deprecate user information in user service
  desktop/src/app/pages/main-page/main-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added tile color to main page
  desktop/src/app/components/header/header.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Enabled and disabled button on validity
  mobile/lib/screens/signup-screen.dart
Due: none

replaced username input in game creation page with connected user infos
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

typo
  common/models/game-difficulty.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

changed condition for solo game start button
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Added logic to registering + refactored + automatic routing when creating account
  mobile/lib/components/login-widget.dart
  mobile/lib/domain/classes/snackbar-factory.dart
  mobile/lib/domain/services/auth-service.dart
  mobile/lib/screens/signup-screen.dart
Due: none

replaced name input with connected user name in room page
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

changed board text and font size
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/game-board/game-board.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

lint
  desktop/src/app/services/communication/app-cookie.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Translation + some refactoring
  mobile/assets/flutter_i18n/en.json
  mobile/assets/flutter_i18n/fr.json
  mobile/lib/components/login-widget.dart
  mobile/lib/screens/end-game-screen.dart
  mobile/lib/screens/game-screen.dart
  mobile/lib/screens/menu-screen.dart
  mobile/lib/screens/signup-screen.dart
  mobile/pubspec.lock
Due: none

new get methode to send all default images from bucket to client, minor modifications
  server/app/controllers/profile-picture.controller.ts
  server/app/services/database/account-storage.service.ts
Due: install:server, lint:server, build:server, test:server

minor modification
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

other modification
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

sending imagekey and presigned_url with get /default-pictures route
  server/app/controllers/profile-picture.controller.ts
Due: install:server, lint:server, build:server, test:server

Fix the last bug with the easel dragged letters
  mobile/lib/components/easel-widget.dart
  mobile/lib/domain/services/game-service.dart
  mobile/pubspec.lock
Due: none

header is mat-toolbar for theme reasons
  desktop/src/app/components/header/header.component.html
  desktop/src/app/components/header/header.component.scss
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed unnecessary code
  desktop/src/app/pages/main-page/main-page.component.scss
  desktop/src/app/pages/main-page/main-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added text for translation
  desktop/src/assets/i18n/en.json
  desktop/src/assets/i18n/fr.json
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added support for default images on desktop
  common/interfaces/avatar-data.ts
  common/interfaces/user.ts
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.html
  desktop/src/app/components/dialog-box-avatar-selector/dialog-box-avatar-selector.component.ts
  desktop/src/app/components/header/header.component.html
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/pages/user-creation-page/user-creation-page.component.html
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
  desktop/src/app/services/communication/http-handler.service.ts
  desktop/src/app/services/user.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

added validators
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

correction and added more validators
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

magic numbers
  desktop/src/app/constants/user.ts
  desktop/src/app/pages/connection-page/connection-page.component.ts
  desktop/src/app/pages/user-creation-page/user-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

bug correction after merge
  desktop/src/app/components/header/header.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

bug correction
  desktop/src/app/components/header/header.component.html
  desktop/src/app/pages/main-page/main-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/pages/multiplayer-join-page/multiplayer-join-page.component.html
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Mistake while merging
  mobile/lib/main.dart
Due: none

Added orientation validation
  mobile/lib/domain/enums/letter-enum.dart
  mobile/lib/domain/models/board-models.dart
  mobile/lib/domain/services/game-service.dart
Due: none

it works esti
  common/interfaces/letter.ts
  common/models/alphabet-letter.ts
  common/models/game-difficulty.ts
  desktop/angular.json
  desktop/package-lock.json
  desktop/package.json
  desktop/src/app/app.module.ts
  desktop/src/app/components/game-board/game-board.component.html
  desktop/src/app/components/game-board/game-board.component.scss
  desktop/src/app/components/game-board/game-board.component.spec.ts
  desktop/src/app/components/game-board/game-board.component.ts
  desktop/src/app/components/information-panel/information-panel.component.html
  desktop/src/app/components/information-panel/information-panel.component.ts
  desktop/src/app/components/play-area/play-area.component.html
  desktop/src/app/components/play-area/play-area.component.scss
  desktop/src/app/components/play-area/play-area.component.ts
  desktop/src/app/components/player-rack/player-rack.component.html
  desktop/src/app/components/player-rack/player-rack.component.scss
  desktop/src/app/components/player-rack/player-rack.component.spec.ts
  desktop/src/app/components/player-rack/player-rack.component.ts
  desktop/src/app/constants/board-tiles.ts
  desktop/src/app/constants/board-view.ts
  desktop/src/app/interfaces/board-tile-info.ts
  desktop/src/app/interfaces/selection-position.ts
  desktop/src/app/models/board-tile.ts
  desktop/src/app/models/placing-state.ts
  desktop/src/app/models/play-direction.ts
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/pages/game-page/game-page.component.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.scss
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
  desktop/src/app/services/chat/chatbox-handler.service.ts
  desktop/src/app/services/game-client.service.ts
  desktop/src/app/services/letter-placement.service.ts
  server/app/constants/letter-reserve.ts
  server/app/controllers/authentification.controller.ts
  server/app/services/games-management/games-state.service.ts
Due: install:desktop, install:server, lint:desktop, lint:server, build:desktop, build:server, test:desktop, test:server

merge errors
  desktop/src/app/modules/app-routing.module.ts
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.html
  desktop/src/app/pages/multiplayer-create-page/game-creation-page.component.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

removed a changed used for debugging
  desktop/src/app/services/game-client.service.ts
Due: install:desktop, lint:desktop, build:desktop, test:desktop

Path conditions:
  install:desktop: any of: desktop/**/*
  install:server: any of: server/**/*
  lint:desktop: any of: desktop/**/*
  lint:server: any of: server/**/*
  build:desktop: any of: desktop/**/*
  build:server: any of: server/**/*
  test:desktop: any of: desktop/**/*
  test:server: any of: server/**/*
